<div class="separadorRazones"> <!-- Separador Razones -->

<h4 class="center titulo">¿Por qué elegir a LANS?</h4>



<!-- Slider -->
<ngx-carousel
      id="anclaRazones"
      [inputs]="carouselBanner"
      [moveToSlide]="1"
      (onMove)="onmoveFn($event)">

      <!-- 1) 50 anos de experiencia -->
      <ngx-item NgxCarouselItem class="bannerStyle">
        <div class="container">
          <div class="row">
            <div class="col s10 push-s1 tarjetaRazones">
              <div class="row">
                <div class="col s12 m5">
                  <div class="tarjetaRazones_img" >
                    <div class="tarjetaRazones_img-cristal">
                      <div class="tarjetaRazones_img-logo">
                      </div><!-- logo -->
                    </div><!-- cristal -->
                  </div><!-- img -->
                </div><!-- col s12 m5 -->
                <div class="col s12 m7">
                  <h4 class="tarjetaRazones_titulos">Contamos con 50 años de experiencia</h4>
                  <p>Estos 50 años en el mercado nos han dado la oportunidad de colaborar con laboratorios, clínicas y hospitales de diferentes tamaños a lo largo de toda la República Mexicana y de vivir la evolución del campo de la referencia.
                    Lo anterior nos ha permitido desarrollar las herramientas para detectar y entender sus distintas necesidades y proveerle soluciones que contribuyan a brindar un mejor servicio a sus pacientes.
                  </p>
                </div><!-- col s12 m7 -->
              </div><!-- row > row -->
            </div><!-- col s10 push-s1 tarjetaRazones -->
          </div><!-- row -->
        </div><!-- container -->
      </ngx-item>

      <!-- 2) Empresa 100% mexicana -->
      <ngx-item NgxCarouselItem class="bannerStyle">
        <div class="container">
          <div class="row">
            <div class="col s10 push-s1 tarjetaRazones">
              <div class="row">
                <div class="col s12 m5">
                  <div class="tarjetaRazones_img">
                    <div class="tarjetaRazones_img-cristal">
                      <div class="tarjetaRazones_img-logo">
                      </div><!-- logo -->
                    </div><!-- cristal -->
                  </div><!-- img -->
                </div><!-- col s12 m5 -->
                <div class="col s12 m7">
                  <h4 class="tarjetaRazones_titulos">Somos una empresa 100% mexicana fundada por investigadores de primer nivel</h4>
                  <p>LANS fue fundado por el Dr. Enrique Tovar Zamora y la Dra. Laura Nieto Sierra, ambos investigadores del Instituto Nacional de Ciencias Médicas y Nutrición Salvador Zubirán, con un enfoque orientado a la investigación y a la salud del paciente.
                    Este enfoque continúa en el ADN de LANS, lo demostramos siendo un respaldo técnico especializado que conoce y entiende los fundamentos del proceso y las necesidades del paciente.
                  </p>
                </div><!-- col s12 m7 -->
              </div><!-- row > row -->
            </div><!-- col s10 push-s1 tarjetaRazones -->
          </div><!-- row -->
        </div><!-- container -->
      </ngx-item>

      <!-- 3) Control de Calidad -->
      <ngx-item NgxCarouselItem class="bannerStyle">
        <div class="container">
          <div class="row">
            <div class="col s10 push-s1 tarjetaRazones">
              <div class="row">
                <div class="col s12 m5">
                  <div class="tarjetaRazones_img">
                    <div class="tarjetaRazones_img-cristal">
                      <div class="tarjetaRazones_img-logo">
                      </div><!-- logo -->
                    </div><!-- cristal -->
                  </div><!-- img -->
                </div><!-- col s12 m5 -->
                <div class="col s12 m7">
                  <h4 class="tarjetaRazones_titulos">Nuestro control de calidad cumple con estándares internacionales</h4>
                  <p>
                    LANS es un Laboratorio acreditado que se regula por
                    un Sistema de Gestión de la Calidad que excede los
                    requisitos de la norma internacional ISO 15189:2012
                    “Laboratorios Clínicos: Requisitos para la Calidad y la
                    Competencia”.
                  </p>
                  <p>
                    Usted puede tener la tranquilidad de que reconocemos
                    la importancia que tiene la calidad de los resultados
                    que emitimos y sabemos que esta es fundamental para lograr
                    un diagnóstico correcto. Es por ello que somos transparentes
                    con la información relacionada a nuestros controles
                    de calidad y respondemos a todas las inquietudes de nuestros Socios
                    y de los médicos con los que trabajan.
                  </p>
                </div><!-- col s12 m7 -->
              </div><!-- row > row -->
            </div><!-- col s10 push-s1 tarjetaRazones -->
          </div><!-- row -->
        </div><!-- container -->
      </ngx-item>

      <!-- 4) Equipo comprometido -->
      <ngx-item NgxCarouselItem class="bannerStyle">
        <div class="container">
          <div class="row">
            <div class="col s10 push-s1 tarjetaRazones">
              <div class="row">
                <div class="col s12 m5">
                  <div class="tarjetaRazones_img" id="imgEquipo">
                    <div class="tarjetaRazones_img-cristal">
                      <div class="tarjetaRazones_img-logo">
                      </div><!-- logo -->
                    </div><!-- cristal -->
                  </div><!-- img -->
                </div><!-- col s12 m5 -->
                <div class="col s12 m7">
                  <h4 class="tarjetaRazones_titulos">Nuestro equipo de profesionales se encuentra comprometido al 100% con el paciente</h4>
                  <p>En LANS estamos convencidos de que el equipo de
                    trabajo representa el activo más importante del laboratorio.
                  Gracias a su compromiso y empatía con la salud de los pacientes,
                  estamos dispuestos a hacer lo necesario para la obtención de un resultado confiable y oportuno.
                  Para LANS, el paciente y su salud están por encima de todo.
                  </p>
                </div><!-- col s12 m7 -->
              </div><!-- row > row -->
            </div><!-- col s10 push-s1 tarjetaRazones -->
          </div><!-- row -->
        </div><!-- container -->
      </ngx-item>

      <!-- 5) Exclusivamente Referencia -->
      <ngx-item NgxCarouselItem class="bannerStyle">
        <div class="container">
          <div class="row">
            <div class="col s10 push-s1 tarjetaRazones">
              <div class="row">
                <div class="col s12 m5">
                  <div class="tarjetaRazones_img" id="imgReferencia">
                    <div class="tarjetaRazones_img-cristal" >
                      <div class="tarjetaRazones_img-logo">
                      </div><!-- logo -->
                    </div><!-- cristal -->
                  </div><!-- img -->
                </div><!-- col s12 m5 -->
                <div class="col s12 m7">
                  <h4 class="tarjetaRazones_titulos">Somos un laboratorio exclusivamente de referencia</h4>
                  <p>
                    En LANS usted cuenta con un Socio que trabajará a su lado para brindar
                    a sus pacientes el mejor diagnóstico y atención.
                    Al trabajar con nosotros, nos convertimos en una extensión de su
                    laboratorio, permitiéndole ofrecer a sus pacientes y médicos una amplia gama de estudios.
                  </p>
                </div><!-- col s12 m7 -->
              </div><!-- row > row -->
            </div><!-- col s10 push-s1 tarjetaRazones -->
          </div><!-- row -->
        </div><!-- container -->
      </ngx-item>

      <!-- 6) Mas de 1,000 socios -->
      <ngx-item NgxCarouselItem class="bannerStyle">
        <div class="container">
          <div class="row">
            <div class="col s10 push-s1 tarjetaRazones">
              <div class="row">
                <div class="col s12 m5">
                  <div class="tarjetaRazones_img" id="imgApoyo">
                    <div class="tarjetaRazones_img-cristal">
                      <div class="tarjetaRazones_img-logo">
                      </div><!-- logo -->
                    </div><!-- cristal -->
                  </div><!-- img -->
                </div><!-- col s12 m5 -->
                <div class="col s12 m7">
                  <h4 class="tarjetaRazones_titulos">Brindamos apoyo a más de 1000 laboratorios en toda la República Mexicana</h4>
                  <p>LANS cuenta con la confianza de más de 1000 Socios en toda la República Mexicana.
                    Lo anterior nos ha permitido desarrollar una infraestructura logística robusta y un modelo de servicio de alta calidad
                    que ofrece soluciones a los distintos retos y necesidades de laboratorios, clínicas y hospitales.
                  </p>
                </div><!-- col s12 m7 -->
              </div><!-- row > row -->
            </div><!-- col s10 push-s1 tarjetaRazones -->
          </div><!-- row -->
        </div><!-- container -->
      </ngx-item>

      <!-- 7) Crecimiento constante -->
      <ngx-item NgxCarouselItem class="bannerStyle">
        <div class="container">
          <div class="row">
            <div class="col s10 push-s1 tarjetaRazones">
              <div class="row">
                <div class="col s12 m5">
                  <div class="tarjetaRazones_img">
                    <div class="tarjetaRazones_img-cristal">
                      <div class="tarjetaRazones_img-logo">
                      </div><!-- logo -->
                    </div><!-- cristal -->
                  </div><!-- img -->
                </div><!-- col s12 m5 -->
                <div class="col s12 m7">
                  <h4 class="tarjetaRazones_titulos">Crecemos a un ritmo constante y controlado</h4>
                  <p>
                    LANS ha crecido constantemente gracias a la confianza de nuestros Socios.
                     A lo largo de 50 años hemos mantenido
                    el servicio de alta calidad y la atención personalizada que hoy nos distinguen.
                  </p>
                </div><!-- col s12 m7 -->
              </div><!-- row > row -->
            </div><!-- col s10 push-s1 tarjetaRazones -->
          </div><!-- row -->
        </div><!-- container -->
      </ngx-item>

      <!-- 8) Servicio Personalizado -->
      <ngx-item NgxCarouselItem class="bannerStyle">
        <div class="container">
          <div class="row">
            <div class="col s10 push-s1 tarjetaRazones">
              <div class="row">
                <div class="col s12 m5">
                  <div class="tarjetaRazones_img">
                    <div class="tarjetaRazones_img-cristal">
                      <div class="tarjetaRazones_img-logo">
                      </div><!-- logo -->
                    </div><!-- cristal -->
                  </div><!-- img -->
                </div><!-- col s12 m5 -->
                <div class="col s12 m7">
                  <h4 class="tarjetaRazones_titulos">Brindamos un servicio personalizado </h4>
                  <p>
                    El modelo de servicio de LANS está diseñado para entender las
                    necesidades particulares de cada uno de nuestros Socios, lo que
                    nos ayuda a encontrar la solución más adecuada para cada situación.
                  </p>
                </div><!-- col s12 m7 -->
              </div><!-- row > row -->
            </div><!-- col s10 push-s1 tarjetaRazones -->
          </div><!-- row -->
        </div><!-- container -->
      </ngx-item>

      <!-- 9) Tecnología de Punta -->
      <ngx-item NgxCarouselItem class="bannerStyle">
        <div class="container">
          <div class="row">
            <div class="col s10 push-s1 tarjetaRazones">
              <div class="row">
                <div class="col s12 m5">
                  <div class="tarjetaRazones_img">
                    <div class="tarjetaRazones_img-cristal">
                      <div class="tarjetaRazones_img-logo">
                      </div><!-- logo -->
                    </div><!-- cristal -->
                  </div><!-- img -->
                </div><!-- col s12 m5 -->
                <div class="col s12 m7">
                  <h4 class="tarjetaRazones_titulos">Contamos con tecnología de punta</h4>
                  <p>
                    En LANS mantenemos el enfoque en la innovación y mejora continua,
                    por lo que seleccionamos tecnología de vanguardia y nos aseguramos de tener
                    equipos analíticos, plataformas y soluciones tecnológicas que atiendan las distintas
                    necesidades de nuestros socios.
                  </p>
                  <p>
                    Al trabajar con LANS, nuestros socios tienen acceso a las mejores
                    tecnologías.
                  </p>
                </div><!-- col s12 m7 -->
              </div><!-- row > row -->
            </div><!-- col s10 push-s1 tarjetaRazones -->
          </div><!-- row -->
        </div><!-- container -->
      </ngx-item>


      <button NgxCarouselPrev class="leftCont "><i class="material-icons">chevron_left</i></button>
      <button NgxCarouselNext class="rightCont"><i class="material-icons">chevron_right</i></button>

</ngx-carousel>
</div><!-- Separador Razones FIN-->
