<!-- Slider -->
<ngx-carousel
      id="anclaRazones"
      [inputs]="carouselBanner"
      [moveToSlide]="1"
      (onMove)="onmoveFn($event)">
 
          <ngx-item NgxCarouselItem class="bannerStyle">
            <div class="row pqlans__item">  
              <div class="col m6 offset-m4 s10 offset-s1">
                  <h1 class="pqlans__titulo">CONTAMOS CON 50 AÑOS DE EXPERIENCIA</h1>
                  <p>Somos en único laboratorio en México que cuenta con cinco décadas de experiencia dedicadas exclusivamente al campo de la referencia en los análisis clínicos.</p>
              </div>
            </div>
          </ngx-item>
 
          <ngx-item NgxCarouselItem class="bannerStyle">
            <div class="row pqlans__item">
              <div class="col m6 offset-m4 s10 offset-s1">
                  <h1 class="pqlans__titulo">Empresa 100% mexicana fundada por investigadores de primer nivel</h1>
                  <p>Nuestro principal objetivo es contribuir al cuidado de la salud de su paciente a través de la emisión de resultados confiables y oportunos.</p>
              </div>
            </div>
          </ngx-item>
          <button NgxCarouselPrev class="leftCont "><i class="material-icons">chevron_left</i></button>
          <button NgxCarouselNext class="rightCont"><i class="material-icons">chevron_right</i></button>

    </ngx-carousel>