<div class="container separador"> <!-- Contenedor contacto -->
  <div class="row"> <!-- Título y texto -->
    <div class="col s7 offset-s5" style="width: auto !important;"><h1 class="titulo">CONTACTO</h1></div>
    <div class="col s10 offset-s1" >
      <h2 class="titulo" style="color:#0075c9; text-align:center;">
        ¿CÓMO PODEMOS AYUDARLE?
     </h2>
     <p class="titulo" id="textitulo">
       Contáctenos llenando el siguiente formato o a través de los teléfonos:
     </p>
    </div>
  <div class="row">   <!-- direccion teléfono y mail -->
    <div class="col m5 s12 offset-m1">
      <p class="contacto">
          <i class="small material-icons ">location_on</i> Calzada Acueducto #402-b, Col. Huipulco, Delegación Tlalpan, 14370 Cuidad de México, México
      </p>
    </div>
    <div class="col m6 s12">
      sdsd
    </div>
  </div>
</div>