P{
  font-size: 20px;
}

.contenedorImg{
  background-color: #00bcd4;
  height: 350px;
  padding: 25px;
  border-radius: 200px;
}

.medicoCirculo{
  background-image: url("../../assets/nosotros/familia_circulo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  border-radius: 170px;
}

.nosotrosContenedor{
  padding: 20vh 0px 10vh 0px;
}

.nosotrosComillas{
  color: #00bcd4 !important;
  font-size: 50px;
  font-weight: 400;
}

.nosotrosQuote{
  color: #0075c9;
  font-weight: 100;
}

.nosotrosSeparador{
  padding: 50px 0 150px 0;
}

.circuloVisMis_fondo{
  background-color: white;
  width: 200px;
  height: 200px;
 border-radius: 150px;
}

.circuloVisMis_img{
  background-color: blue;
  height: 300px;
  width:  300px;
  border-radius:  160px;

}

.tituloNosotros{
  color: #0075c9;
  font-weight: bold;
  font-size: 30px;
  padding: 0px 5vw 12vh 5vw;
}

.isoNosotros{
  background-image: url("../../assets/nosotros/calidad_iso_50anos.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 200px;
}

#capitularE{
  color: #0075c9;
  font-size: 40px;
  line-height: 10px;
}
