<div class="nosotrosContenedor" id="anclaNosotros">
  <div class="container">

    <!-- ===== Row 1 : Titulo ===== -->
    <div class="row" id="titulo">
      <!-- Titulo  -->
      <div class="col s12">
        <h4 class="tituloNosotros center" id="anclaNosotros">
          LANS Laboratorios tiene el agrado de
          presentarse ante usted como el PRIMER
          Laboratorio en México en ofrecer Servicios
          de Referencia Especializada.
        </h4>
      </div>
    </div>
    <!--row 1-->

    <!-- ===== Row 2 : Parrafo e imagen ===== -->
    <div class="row" id="parImg">
      <!-- Parrafo introducción -->
      <div class="col s12 m7">
        <p><span id="capitularE">E</span>mpresa 100% mexicana que inició sus operaciones en el campo de los análisis clínicos en el año de 1968, siendo fundada por el Dr. Enrique Tovar Zamora y la Dra. Laura Nieto Sierra.</p>
        <p>Hoy, con la experiencia acumulada de más de 47 años de servicio ininterrumpido, tenemos el privilegio de contar con uno de los equipos humanos más profesionales y comprometidos del medio. Lo anterior, aunado a una búsqueda incansable de la aplicación
          de tecnologías de punta, nos permite garantizar la prestación de un servicio de calidad a nivel internacional.</p>
        <p>En LANS contribuimos al adecuado diagnóstico y tratamiento de los pacientes, entregando a nuestros Socios resultados confiables y oportunos a través de un modelo de atención cálido, empático y efectivo orientado a brindar soluciones.</p>
      </div>
      <!-- col s12 m5 texto -->
      <!-- Imagen circulo -->
      <div class="col s12 m5">
        <div class="medicoCirculo"></div>
      </div>
      <!-- col s12 m5 imagen -->
    </div>
    <!--row 2-->

    <!-- ===== Row 3 : Logos( 50 ans, ISO) ===== -->
    <div class="row" id="logos">
      <div class="isoNosotros"></div>
    </div>
    <!-- row 3 -->


  </div>
  <!--container-->
</div>
<!--nosotrosContender-->
