<div class="nosotrosContenedor">
  <div class="container">

    <div class="nosotrosSeparador"> <!-- Separador entre logos y texto -->
    <!-- ===== Row 1 : Titulo ===== -->
    <div class="row" id="titulo">
      <!-- Titulo  -->
      <!-- <div class="col s12">
        <h4 class="tituloNosotros center scrollspy" id="anclaNosotros">
          LANS Laboratorios de Referencia
        </h4>
      </div>
    </div> -->
    <!--row 1-->

    <!-- ===== Row 2 : Parrafo e imagen ===== -->
    <div class="row" id="parImg">
      <!-- Parrafo introducción -->
      <div class="col s12 m7">
        <h3 class="nosotrosQuote"><span class="nosotrosComillas">"</span>Nuestro propósito es
          mejorar la salud y  calidad de vida de las personas <span class="nosotrosComillas">"</span></h3>
        <p>
          Somos un Laboratorio de Referencia con 50 años de experiencia.
        </p>
        <p>
            Más de 1000 laboratorios
            confían en nosotros por el enfoque que tenemos hacia el paciente y
            nuestro compromiso con la calidad y el servicio.
        </p>
      

      </div>
        <!--
        <div class="circuloVisMis_img">
          <div class="circuloVisMis_fondo">
              <p>a</p>
          </div>
        </div>
      </div> -->
      <!-- col s12 m5 texto -->
      <!-- Imagen circulo -->
      <div class="col s12 m5 contenedorImg">
        <div class="medicoCirculo"></div>
      </div>
      <!-- col s12 m5 imagen -->
    </div>
    <!--row 2-->
  </div><!-- separador entre logos y texto fin -->

    <!-- ===== Row 3 : Logos( 50 ans, ISO) ===== -->
    <div class="row" id="logos">
      <div class="isoNosotros"></div>
    </div>
    <!-- row 3 -->


  </div>
  <!--container-->
</div>
<!--nosotrosContender-->
