<div class="nosotrosContenedor" id="anclaNosotros">
  <div class="container">

    <!-- ===== Row 1 : Titulo ===== -->
    <div class="row" id="titulo">
      <!-- Titulo  -->
      <div class="col s12">
        <h4 class="tituloNosotros center" id="anclaNosotros">
          LANS Laboratorios
        </h4>
      </div>
    </div>
    <!--row 1-->

    <!-- ===== Row 2 : Parrafo e imagen ===== -->
    <div class="row" id="parImg">
      <!-- Parrafo introducción -->
      <div class="col s12 m7">
        <p><span id="capitularE">S</span>omos un laboratorio especializado en referencia con 50 años de experiencia. 
          En LANS estamos comprometidos con la calidad de los resultados que emitimos, porque entendemos que detrás de cada muestra existe un paciente preocupado por su salud. 
        </p>
      </div>
        <!--
        <div class="circuloVisMis_img">
          <div class="circuloVisMis_fondo">
              <p>a</p>
          </div>
        </div>
      </div> -->
      <!-- col s12 m5 texto -->
      <!-- Imagen circulo -->
      <div class="col s12 m5">
        <div class="medicoCirculo"></div>
      </div>
      <!-- col s12 m5 imagen -->
    </div>
    <!--row 2-->

    <!-- ===== Row 3 : Logos( 50 ans, ISO) ===== -->
    <div class="row" id="logos">
      <div class="isoNosotros"></div>
    </div>
    <!-- row 3 -->


  </div>
  <!--container-->
</div>
<!--nosotrosContender-->
