.btnHamContainer{
  position: fixed;
  right: 0 !important;
  margin-right: 5vw;
  padding-left: 2.5vw;
}

.btnCaptura{
  height: 70px;
  width: 70px;
  position: fixed;
  right: 10px;
  z-index: 1;
  top: 75px;
  background-color: #00bcd4;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border-radius: 50%;
}

.btnCaptura_grande{
  height: 70px;
  width: 70px;
  position: fixed;
  right: 180px;
  z-index: 1;
  bottom: 10px;
  background-color: #00bcd4;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border-radius: 50%;
}

.btnCaptura_txt_grande{
  position: fixed;
  right: 100px;
  z-index: 1;
  bottom: 10vh;
  color: white;
  background-color: #0075c9;
  border-radius: 10px;
  font-weight: 100;
  padding: 0 15px;
}

.btnCaptura_captura{
  height: 70px;
  width: 70px;
  position: fixed;
  right: 10px;
  z-index: 1;
  top: 75px;
  background-color: #00bcd4;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border-radius: 50%;
}

.btnCaptura:hover{
  background-color: #0075c9;
}

.btnCaptura_grande:hover{
  background-color: #0075c9;
}

.btnCaptura_txt{
  position: fixed;
  right: 90px;
  z-index: 1;
  top: 7vh;
  color: white;
  background-color: #00bcd4;
  padding: 10px;
  border-radius: 10px;
}


#btnCaptura_img{
  background-image: url('../../assets/ic_captura_ordenes.svg');
  background-repeat: no-repeat;
  background-size: 42px;
  background-position: 17px;
}

#btnCaptura_img_grande{
  background-image: url('../../assets/ic_captura_ordenes.svg');
  background-repeat: no-repeat;
  background-size: 42px;
  background-position: 17px;
}

.btnPortalesMenuMob li{
  background-color: #0075c9;
  border-style:solid;
  border-color: white; 
}

.btnPortalesMenuMob li a{
  text-align: center;
  color:white;
}

.btnResult{
  height: 70px;
  width: 70px;
  position: fixed;
  right: 10px;
  z-index: 1;
  top: 155px;
  background-color: #00bcd4;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border-radius: 50%;
}

.btnResult_grande{
  height: 70px;
  width: 70px;
  position: fixed;
  right: 100px;
  z-index: 1;
  bottom: 10px;
  background-color: #00bcd4;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border-radius: 50%;
}

.btnResult:hover{
  background-color: #0075c9;
}

.btnResult_grande:hover{
  background-color: #0075c9;
}

.btnResult_txt{
  position: fixed;
  right: 90px;
  z-index: 1;
  top: 15vh;
  color: white;
  background-color: #00bcd4;
  padding: 10px;
  border-radius: 10px;
}

.btnResult_txt_grande{
  position: fixed;
  right: 10px;
  z-index: 1;
  bottom: 10vh;
  color: white;
  background-color: #0075c9;
  border-radius: 10px;
  font-weight: 100;
  padding: 0 15px;
}

#btnResult_img{
  background-image: url('../../assets/ic_consulta_resultado.svg');
  background-repeat: no-repeat;
  background-size: 42px;
  background-position: 17px;
}

#btnResult_img_grande{
  background-image: url('../../assets/ic_consulta_resultado.svg');
  background-repeat: no-repeat;
  background-size: 42px;
  background-position: 17px;
}


.btnFormato{
  height: 70px;
  width: 70px;
  position: fixed;
  right: 10px;
  z-index: 1;
  top: 235px;
  background-color: #00bcd4;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border-radius: 50%;
}

.btnFormato_grande{
  height: 70px;
  width: 70px;
  position: fixed;
  right: 20px;
  z-index: 1;
  bottom: 10px;
  background-color: #00bcd4;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border-radius: 50%;
}

.btnFormato:hover{
  background-color: #0075c9;
}

.btnFormato_grande:hover{
  background-color: #0075c9;
}

.btnFormato_txt{
  position: fixed;
  right: 90px;
  z-index: 1;
  top: 25vh;
  color: white;
  background-color: #00bcd4;
  padding: 10px;
  border-radius: 10px;
}

.btnFormato_txt_grande{
  position: fixed;
  right: 10px;
  z-index: 1;
  bottom: 10vh;
  color: white;
  background-color: #0075c9;
  border-radius: 10px;
  font-weight: 100;
  padding: 0 15px;
}

#btnFormato_img{
  background-image: url('../../assets/ic_consulta_resultado.svg');
  background-repeat: no-repeat;
  background-size: 42px;
  background-position: 17px;
}

#btnFormato_img_grande{
  background-image: url('../../assets/ic_consulta_resultado.svg');
  background-repeat: no-repeat;
  background-size: 42px;
  background-position: 17px;
}



.circuloTextura{
  background-image: url('../../assets/menuPrincipal/circuloTextura.png');
  background-repeat: no-repeat;
  background-position: -13px center;
  background-size: 250px 250px;
  height: 96vh;
  width: 100%;
  overflow: hidden;
}


.containerLogoBefScroll{
  background-image: url('../../assets/logo_lans_fondoBlanco.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 160px;
  width: 160px;
}

.contOpcionesMob{
  overflow: scroll;
  height: 40vh;

}

.logoLansGrande{
  background-color: white;
  background-image: url('../../assets/sliderAssets/logotipo_lans_colores_200x200.png');
  background-repeat: no-repeat;
  background-size: 120px 120px;
    background-position: 40px 130px;
  width: 300px;
  height: 300px;
  position: fixed;
  right: -116px;
  top: -121px;
  border-radius: 50%;
  box-shadow: -7px 7px 17px rgba(0,0,0,0.2);
}

.menuBefCompleto{
  height: 100vh;
  width: 70vw;
  -webkit-box-shadow: 10px 1px 4px rgba(0,0,0,0.2);
  box-shadow: 10px 1px 4px rgba(0,0,0,0.3);
  position: fixed;
  z-index: 3;
  top: 0;
  background-color: white;
}

.listaMenuCompleto{
  font-size: 25px;
  font-weight: 100;
  line-height: 60px;
  padding: 5vh;
}

.menuBefCompleto_complemento{
  background-color: rgba(0,0,0,0.3);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
  right: 0;
}

.menuBefCompleto_complemento:hover{
  cursor: pointer;
}

.listaMenuCompleto li a:hover{
  background-color: rgba(40,170,197,0.2);
}

.listaMenuCompleto a{
  color: gray;
  padding: 15px 20px 15px 10px;
}

.logoMenuGrande_interior{
  background-image:url('../../assets/sliderAssets/logotipo_lans_colores_200x200.png');
  background-position:center;
  background-size: 150px;
  background-repeat: no-repeat;
  height: 100vh;
}


.logoMenuLateral{
  background-image: url("../../assets/logotipos/logo_menu.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

.menuBef_ham{
  width: 100px;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 4;
  padding: 10px 10px;
  border-bottom-right-radius: 50%;
}

 .menuBef_ham a i{
  color:white;
  font-size: 50px;
}
.menuBef_ham a i:hover{
  cursor:pointer;
} 
.menuBef_ham:hover{
  cursor: pointer;
  background-color:#0075c9;
}

.menuBefScroll{
  background-color: rgba(255,255,255,0.0);
  box-shadow: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}


.menuBefScroll li a{
  color:white;
}

.menuBefScroll li a:hover{
  background-color: #0075c9;
}

.menuBefScroll_btnEspecial{
  background-color: rgba(0,117,201,0.4);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  margin: 0 10px;
}

.menuBefScroll_btnEspecial:hover{
  background-color: #0075c9;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.0);
  margin: 0 10px;
}

.iconoCap{
  background-image: url('../../assets/ic_captura_ordenes.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 20px;
}

.menuLans{
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
}

.menuLogo_chico{
  width: 85px;
}

.menuLogo_fondo{
  background-color: white;
  width: 130px;
  height: 130px;
  margin: -17px -38px;
  padding: 32px 22px;
  border-radius: 100px;
  box-shadow: 5px 2px 9px rgba(0,0,0,0.1);
}

.menuMob{
  background-color: white;
  height: 100vh;
  box-shadow: 4px -5px 4px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: -500px;
}

.menuMob li{
  display: block;
  float: none;
  padding: 0.5px 0;
}

.menuMobComplemento{
  background-color: rgba(0,0,0,0.2);
  height: 100vh;
  width: 100vw !important;
  position: fixed;
  right: 0 !important;
  top: 0;
}

#botonHamburguesa{
  display: none;
}

#menuHorizontal{
  display: inherit;
}

#menuLateral{
  display: none;
}

@media only screen and (max-width: 1064px) {

  #botonHamburguesa{
    display: inherit;
  }

  #menuHorizontal{
    display: none;
  }
  #menuLateral{
    display: inherit;
  }
}

#tituloModal{
  color: #002f87;
}

#modalFormatos::-webkit-scrollbar-track
 {
     display: none;
 }
 
 
 #modalFormatos::-webkit-scrollbar
 {
     width: 10px;
     background-color:rgba(240, 240, 240, 0);
 }
 
 #modalFormatos::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     background-image: -webkit-gradient(linear,
                                        left bottom,
                                        left top,
                                        color-stop(0.44, rgb(122,153,217)),
                                        color-stop(0.72, rgb(73,125,189)),
                                        color-stop(0.86, rgb(28,58,148)));
 }


ul li{
  padding: 0 10px;
  color: #0075c9;
}

a{
  color: #0075c9;
}

h2{
  color: #0075c9;
}