<!-- Menu principal Bienvenida Before Scroll

    Este menu es el menu con el que el sitio recibe al usuario
    es mas grande con un fondo transparente y un width mayor al
    del otro menu.

-->
<nav class="menuBefSchool" id="menuBefScroll">
  
  <div class="row">
    <div class="col m5">
      <div class="row">
        <div class="col s12">
          <div class="col s8">

          </div>
          <div class="col s4">
              <ul>
                  <li class="menuBefSchool_btnEspecial"><a href="#!">Catálogo</a></li>
              </ul>
          </div>
          
        </div>
        <div class="col s12">
          <ul>
            <li><a href="#anclaInicio">Inicio</a></li>
            <li><a href="#anclaNosotros">Nosotros</a></li>
            <li><a href="#anclaEspecialidades">Especialidades</a></li>
            <li><a href="#anclaCalidad">Calidad</a></li>
          </ul>
        </div>
      </div>
    </div><!-- Opciones Izquierda -->
    <div class="col m2">
        <div class="containerLogoBefScroll"></div>
    </div><!-- Logo -->
    <div class="col m5">
      <div class="row">
        <div class="col s12">
          <ul>
            <li class="menuBefSchool_btnEspecial" ><a href="#!">Captura</a></li>
            <li class="menuBefSchool_btnEspecial" ><a href="#!">Resultado</a></li>
          </ul>
        </div>
        <div class="col s12">
          <ul>
              <li><a href="#anclaSocios">Socios</a></li>
              <li><a href="#anclaSistema">Nuestro Proceso</a></li>
              <li><a href="#anclaContacto">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div> <!--Opciones Derecha-->
  </div><!-- row  2 -->
</nav>

<!-- 
    Menu principal horizontal After Scroll 

    Este menu se activa cuando se realiza scroll, es un menú
    menos invasivo y permite la visibilidad de la información.
-->
<nav class="menuLans" id="menuAftScroll">
    <div class="row">
      <div class="col s12 ">
        <div class="row">
          <div class="col s10 m1">
            <div class="menuLogo_fondo">
              <img class="menuLogo_chico" src="../../assets/logotipos/logo_menu.png" alt="logo de lans laboratorios de referencia">
              <!--<a href="#" id="botonHamburguesa"><i class="material-icons">menu</i></a>-->
            </div>
          </div>
          <div class="col s1 btnHamContainer" id="btnHamMenu" (click)="aparecerMenu()">
            <a href="#!" id="botonHamburguesa"><i class="material-icons">menu</i></a>
          </div>
          <div class="col m11" id="menuHorizontal">
            <ul>
              <li><a href="#anclaInicio">Inicio</a></li>
              <li><a href="#anclaNosotros">Nosotros</a></li>
              <li><a href="#anclaEspecialidades">Especialidades</a></li>
              <li><a href="#anclaCalidad">Calidad</a></li>
              <li><a href="#anclaSocios">Socios</a></li>
              <li><a href="#anclaSistema">Nuestro Proceso</a></li>
              <li><a href="#anclaContacto">Contacto</a></li>
              <li><a href="#!">Catálogo</a></li>
            </ul>
          </div>
        </div><!-- row > row -->
      </div><!-- col s12 -->
    </div><!-- row -->


<!-- Menú mobil -->
    <div class="row" id="menuLateral">
      <div class="menuMobComplemento col s3" id="menuCompl" (click)="desapareceMenu()">
      </div>
      <div class="menuMob col s7" id="#menuLateral_opciones">
        <div class="logoMenuLateral">
          </div><!-- logoMenuLateral -->
          <ul>
            <li><a href="#anclaInicio">Inicio</a></li>
            <li><a href="#anclaNosotros">Nosotros</a></li>
            <li><a href="#anclaEspecialidades">Especialidades</a></li>
            <li><a href="#anclaCalidad">Calidad</a></li>
            <li><a href="#anclaSocios">Socios</a></li>
            <li><a href="#anclaSistema">Nuestro Proceso</a></li>
            <li><a href="#anclaContacto">Contacto</a></li>
            <li><a href="#!">Catálogo</a></li>
          </ul>
      </div><!-- col s7 -->
    </div><!-- row -->
</nav>
