<!-- Menu principal horizontal -->
<nav class="menuLans">
    <div class="row">
      <div class="col s12 ">
        <div class="row">
          <div class="col s10 m1">
            <div class="menuLogo_fondo">
              <img class="menuLogo_chico" src="../../assets/logotipos/logo_menu.png" alt="logo de lans laboratorios de referencia">
              <!--<a href="#" id="botonHamburguesa"><i class="material-icons">menu</i></a>-->
            </div>
          </div>
          <div class="col s1 btnHamContainer">
            <a href="#" id="botonHamburguesa"><i class="material-icons">menu</i></a>
          </div>
          <div class="col m11" id="menuHorizontal">
            <ul>
              <li><a href="#anclaInicio">Inicio</a></li>
              <li><a href="#anclaNosotros">Nosotros</a></li>
              <li><a href="#anclaEspecialidades">Especialidades</a></li>
              <li><a href="#anclaCalidad">Calidad</a></li>
              <li><a href="#anclaSocios">Socios</a></li>
              <li><a href="#anclaSistema">Nuestro Proceso</a></li>
              <li><a href="#anclaContacto">Contacto</a></li>
              <li><a href="#">Catálogo</a></li>
            </ul>
          </div>
        </div><!-- row > row -->
      </div><!-- col s12 -->
    </div><!-- row -->


<!-- Menú mobil -->
    <div class="row" id="menuLateral">
      <div class="menuMob col s7">
        <div class="logoMenuLateral">
        </div><!-- logoMenuLateral -->
        <ul>
          <li><a href="#anclaInicio">Inicio</a></li>
          <li><a href="#anclaNosotros">Nosotros</a></li>
          <li><a href="#anclaEspecialidades">Especialidades</a></li>
          <li><a href="#anclaCalidad">Calidad</a></li>
          <li><a href="#anclaSocios">Socios</a></li>
          <li><a href="#anclaSistema">Nuestro Proceso</a></li>
          <li><a href="#anclaContacto">Contacto</a></li>
          <li><a href="#">Catálogo</a></li>
        </ul>
      </div>
    </div><!-- row -->
</nav>
