.menuLans{
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
}

.menuLogo_chico{
  width: 85px;
}

.menuLogo_fondo{
  background-color: white;
  width: 130px;
  height: 130px;
  margin: -17px -38px;
  padding: 32px 22px;
  border-radius: 100px;
  box-shadow: 5px 2px 9px rgba(0,0,0,0.1);
}


ul li{
  padding: 0 10px;
  color: #0075c9;
}

a{
  color: #0075c9;
}
