<!-- Menu principal Bienvenida Before Scroll

    Este menu es el menu con el que el sitio recibe al usuario
    es mas grande con un fondo transparente y un width mayor al
    del otro menu.

-->
<div id="menuBefCompleto">
  <div class="menuBefCompleto" >
      <div class="row">
        <div class="col m4">
          <div class="logoMenuGrande_interior">
          </div>
        </div>
        <div class="col m6">
          <ul class="listaMenuCompleto">   
            <li><a href="#anclaInicio" (click)="desactivarMenuGrande(1000)">Inicio</a></li>
            <li><a href="#anclaNosotros" (click)="desactivarMenuGrande(1000)">Nosotros</a></li>
            <li><a href="#anclaEspecialidades" (click)="desactivarMenuGrande(1000)">Especialidades</a></li>
            <li><a href="#anclaCalidad" (click)="desactivarMenuGrande(1000)">Calidad</a></li>
            <li><a href="#anclaSocios" (click)="desactivarMenuGrande(1000)">Socios</a></li>
            <li><a href="#anclaSistema" (click)="desactivarMenuGrande(1000)">Proceso</a></li>
            <li><a href="#anclaContacto" (click)="desactivarMenuGrande(1000)">Contacto</a></li>
            <li><a href="http://lans.mx/assets/files/Catalogo_LANS_2018.pdf" (click)="desactivarMenuGrande(1000)" download>Catálogo</a></li>  
          </ul>
        </div>
        <div class="col m2">
          <div class="circuloTextura"></div>
        </div>
      </div>
  </div>
  <div class="menuBefCompleto_complemento" id="complementoBef" (click)="desactivarMenuGrande()">
  </div>
</div>

<nav class="menuBefScroll" id="menuBefScroll">
    <!-- BTN Hamburguesa -->
    <div class="menuBef_ham" (click)="activarMenuGrande()">
        <a href="#!">
         <i class="material-icons">menu</i>
       </a>
     </div>
     <!-- Botones Portales Menu Grande -->
     <div class="botonesPortales" id="btnPort_grande">
        <a href="http://acceso.lans.mx:2024/" target="_blank">
        <div class="btnCaptura_grande" id="btnCaptura_img_grande">
          <p class="btnCaptura_txt_grande" id="btnCaptura_txt_grande">Captura de Órdenes</p>
        </div>
        </a>
        <a href="http://acceso.lans.mx:2026/" target="_blank">
        <div class="btnResult_grande" id="btnResult_img_grande">
            <p class="btnResult_txt_grande" id="btnResult_txt_grande">Consulta de Resultados</p>
        </div>
        </a>
        <a href="#modalFormatos" class="modal-trigger">
          <div class="btnFormato_grande" id="btnFormato_img_grande">
              <p class="btnFormato_txt_grande" id="btnFormato_txt_grande">Formatos</p>
          </div>
          </a>
      </div><!-- Fin botones portales -->
  <div class="row">
    <div class="logoLansGrande"></div>
  </div><!-- row  2 -->
</nav>

<!-- 
    Menu principal horizontal After Scroll 

    Este menu se activa cuando se realiza scroll, es un menú
    menos invasivo y permite la visibilidad de la información.
-->
<nav class="menuLans" id="menuAftScroll">
    <div class="row">
      <div class="col s12 ">
        <div class="row">
          <div class="col s10 m1">
            <div class="menuLogo_fondo" id="logoChico">
              <img class="menuLogo_chico" src="../../assets/logotipos/logo_menu.png" alt="logo de lans laboratorios de referencia">
              <!--<a href="#" id="botonHamburguesa"><i class="material-icons">menu</i></a>-->
            </div>
          </div>
          <div class="col s1 btnHamContainer" id="btnHamMenu" (click)="aparecerMenu()">
            <a href="#!" id="botonHamburguesa"><i class="material-icons">menu</i></a>
          </div>
          <div class="col m11" id="menuHorizontal">
            <ul>
              <li><a href="#anclaInicio">Inicio</a></li>
              <li><a href="#anclaNosotros">Nosotros</a></li>
              <li><a href="#anclaEspecialidades">Especialidades</a></li>
              <li><a href="#anclaCalidad">Calidad</a></li>
              <li><a href="#anclaSocios">Socios</a></li>
              <li><a href="#anclaSistema">Proceso</a></li>
              <li><a href="#anclaContacto">Contacto</a></li>
              <li><a href="http://lans.mx/assets/files/Catalogo_LANS_2018.pdf" download>Catálogo</a></li>
            </ul>
          </div>
        </div><!-- row > row -->
      </div><!-- col s12 -->
    </div><!-- row -->


<!-- Menú mobil -->
    <div class="row" id="menuLateral">
      <div class="menuMobComplemento col s3" id="menuCompl" (click)="desapareceMenu()">
      </div>
      <div class="menuMob col s7" id="#menuLateral_opciones">
        <div class="logoMenuLateral">
          </div><!-- logoMenuLateral -->
          <div class="contOpcionesMob">
              <ul>
                  <li><a href="#anclaInicio" (click)="desapareceMenu()" >Inicio</a></li>
                  <li><a href="#anclaNosotros" (click)="desapareceMenu()" >Nosotros</a></li>
                  <li><a href="#anclaEspecialidades" (click)="desapareceMenu()" >Especialidades</a></li>
                  <li><a href="#anclaCalidad" (click)="desapareceMenu()" >Calidad</a></li>
                  <li><a href="#anclaSocios" (click)="desapareceMenu()" >Socios</a></li>
                  <li><a href="#anclaSistema" (click)="desapareceMenu()" >Proceso</a></li>
                  <li><a href="#anclaContacto" (click)="desapareceMenu()" >Contacto</a></li>
                  <li><a href="http://lans.mx/assets/files/Catalogo_LANS_2018.pdf" (click)="desapareceMenu()"  download>Catálogo</a></li>
                </ul>
          </div>
          <div>
            <ul class="btnPortalesMenuMob">
              <li><a href="http://acceso.lans.mx:2024/" target="_blank">Captura de Órdenes</a></li>
              <li><a href="http://acceso.lans.mx:2026/" target="_blank">Consulta de Resultados</a></li>
              <li><a href="#modalFormatos" class="modal-trigger">Formatos</a></li>
            </ul>
          </div>
      </div><!-- col s7 -->
    </div><!-- row -->
</nav>

<!-- Botones Portales -->

<div class="botonesPortales" id="btnPort">
  <a href="http://acceso.lans.mx:2024/" target="_blank">
  <div class="btnCaptura" id="btnCaptura_img">
    <p class="btnCaptura_txt" id="btnCaptura_txt">Captura de Órdenes</p>
  </div>
  </a>
  <a href="http://acceso.lans.mx:2026/" target="_blank">
  <div class="btnResult" id="btnResult_img">
      <p class="btnResult_txt" id="btnResult_txt">Consulta de Resultados</p>
  </div>
  </a>
  <a href="#modalFormatos" class="modal-trigger">
    <div class="btnFormato" id="btnFormato_img">
        <p class="btnFormato_txt" id="btnFormato_txt">Formatos</p>
    </div>
    </a>
</div>


<!-- modal formatos -->

<div id="modalFormatos" class="modal">
  <div class="modal-top">
      <a href="#!" class="modal-action modal-close  btn-mod-close"><i class="material-icons ico-mod-close">&#xE14C;</i></a>
  </div>
  <div class="modal-content">
    <div class="center  col s12 m12">
      <h2 id="tituloModal"> Formatos LANS</h2>
      <div class="col s12 m12 listaFormatos">
        <ul *ngFor="let formato of formatos">
          <li> <a [href]="prefix+formato+'.pdf'" download>{{formato}} <i class="material-icons">&#xE2C4;</i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>