.btnHamContainer{
  position: fixed;
  right: 0 !important;
  margin-right: 5vw;
  padding-left: 2.5vw;
}

.btnCaptura{
  height: 70px;
  width: 70px;
  position: fixed;
  right: 10px;
  z-index: 1;
  top: 75px;
  background-color: #00bcd4;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border-radius: 50%;
}

.btnCaptura:hover{
  background-color: #0075c9;
}

.btnCaptura_txt{
  position: fixed;
  right: 90px;
  z-index: 1;
  top: 80px;
  color: #27e2fb;
}


#btnCaptura_img{
  background-image: url('../../assets/ic_captura_ordenes.svg');
  background-repeat: no-repeat;
  background-size: 42px;
  background-position: 17px;
}

.btnPortalesMenuMob li{
  background-color: #0075c9;
  border-style:solid;
  border-color: white; 
}

.btnPortalesMenuMob li a{
  text-align: center;
  color:white;
}

.btnResult{
  height: 70px;
  width: 70px;
  position: fixed;
  right: 10px;
  z-index: 1;
  top: 155px;
  background-color: #00bcd4;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border-radius: 50%;
}

.btnResult:hover{
  background-color: #0075c9;
}

.btnResult_txt{
  position: fixed;
  right: 90px;
  z-index: 1;
  top: 160px;
  color: #27e2fb;
}

#btnResult_img{
  background-image: url('../../assets/ic_consulta_resultado.svg');
  background-repeat: no-repeat;
  background-size: 42px;
  background-position: 17px;
}


.containerLogoBefScroll{
  background-image: url('../../assets/logo_lans_fondoBlanco.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 160px;
  width: 160px;
}

.contOpcionesMob{
  overflow: scroll;
  height: 60vh;

}

.logoMenuLateral{
  background-image: url("../../assets/logotipos/logo_menu.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

.menuBefSchool{
  background-color: rgba(255,255,255,0.0);
  box-shadow: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menuBefSchool li a{
  color:white;
}

.menuBefSchool li a:hover{
  background-color: #0075c9;
}

.iconoCap{
  background-image: url('../../assets/ic_captura_ordenes.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 20px;
}

.menuLans{
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
}

.menuLogo_chico{
  width: 85px;
}

.menuLogo_fondo{
  background-color: white;
  width: 130px;
  height: 130px;
  margin: -17px -38px;
  padding: 32px 22px;
  border-radius: 100px;
  box-shadow: 5px 2px 9px rgba(0,0,0,0.1);
}

.menuMob{
  background-color: white;
  height: 100vh;
  box-shadow: 4px -5px 4px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: -500px;
}

.menuMob li{
  display: block;
  float: none;
  padding: 0.5px 0;
}

.menuMobComplemento{
  background-color: rgba(0,0,0,0.2);
  height: 100vh;
  width: 100vw !important;
  position: fixed;
  right: 0 !important;
  top: 0;
}

#botonHamburguesa{
  display: none;
}

#menuHorizontal{
  display: inherit;
}

#menuLateral{
  display: none;
}

@media only screen and (max-width: 1064px) {

  #botonHamburguesa{
    display: inherit;
  }

  #menuHorizontal{
    display: none;
  }
  #menuLateral{
    display: inherit;
  }
}



ul li{
  padding: 0 10px;
  color: #0075c9;
}

a{
  color: #0075c9;
}
