<!-- Input de Buscador -->
<div class="navbar-fixed">


<!-- <nav id="buscadorMenu">
  <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons" (click)="apareceBuscador()">close</i>
        </div>
      </form>
  </div>
</nav> -->

<!-- Menu de Navegacion Principal -->
<nav [class.opcionesMenu]="s<100" [class.opcionesMenu2]="s>=100">
    <div class="nav-wrapper">

      <div class="row">

        <!-- Boton hamburguesa -->
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

          <!-- Menu opciones izquierda -->
          <div class="col m5 s4 izq">

            <!--Menu Izquierda-->
            <div class="row" [class.menuOpcIzq]="s<100" *ngIf="s<100"></div>
            <div class="row hide-on-med-and-down" [class.linea]="s<100">
              <div class="col m3 navsep" [class.miniNav]="s>100" ><a [class.activo]="s<posiciones['nosotros']" href="#">Inicio</a></div>
              <div class="col m3 navsep" [class.miniNav]="s>100">
                <a [ngx-scroll-to]="'anclaNosotros'" href="#!" [class.activo]="s>=posiciones['nosotros'] && s<posiciones['servicios']">Nosotros</a></div>
              <div class="col m3 navsep" [class.miniNav]="s>100">
                <a [ngx-scroll-to]="'anclaServicios'" href="#!" [class.activo]="s>=posiciones['servicios'] && s<posiciones['calidad']">Servicio</a></div>
              <div class="col m3 navsep" [class.miniNav]="s>100">
                <a [ngx-scroll-to]="'anclaCalidad'" href="#!" [class.activo]="s>=posiciones['calidad'] && s<posiciones['socios']">Calidad</a></div>
            </div>
          </div><!--col m5 opciones izquierda -->

          <!-- Menu logo centro -->
          <div class="col s2 m2 centrar">
           <a href="#" >
             <img id="log" [class.resize]="s>100" src="../../assets/logo_lans_fondoBlanco.jpg" alt="">
          </a>
            
            <div [class.logoMenu]="s<100" [class.logoMenu2]="s>100"></div>
          </div><!-- col m2 logo -->

          <!-- Menu opciones derecha -->
          <div class="col m5 s5 der hide-on-med-and-down">
            <!-- Menu Derecha -->
            <div class="row" [class.menuOpcDer]="s<100" *ngIf="s<100">
                <!-- Botones -->
                <div class="col m6 btnCont">
                    <a href="#" class="botones">
                       <img src="../../assets/ic_captura_ordenes.svg" class="ic-svg">CAPTURA DE ÓRDENES</a>
                </div>
                <div class="col m6 btnCont">
                    <a href="#" class="botones">
                       <img src="../../assets/ic_consulta_resultado.svg" class="ic-svg">CONSULTA DE RESULTADOS</a>
                </div>
              </div>
            <div class="row hide-on-med-and-down" [class.linea]="s<100">
              <div class="col m3 navsep" [class.miniNav]="s>100">
                <a [ngx-scroll-to]="'anclaSocios'" href="#!" [class.activo]="s>=posiciones['socios'] && s<posiciones['sistema']">Socios</a></div>
              <div class="col m6 navsep" [class.miniNav]="s>100">
                <a [ngx-scroll-to]="'anclaSistema'" href="#!" [class.activo]="s>=posiciones['sistema'] && s<posiciones['contacto']">Sistema Laboratorio</a></div>
              <div class="col m2 navsep" [class.miniNav]="s>100">
                <a [ngx-scroll-to]="'anclaContacto'" href="#!" [class.activo]="s>posiciones['contacto']">Contacto</a></div>
              <!-- <div class="col m1" [class.lupaMenu]="s<100" [class.lupaMenu2]="s>=100" (click)="apareceBuscador()"><a href="#"><label class="label-icon" for="search"><i class="material-icons">search</i></label></a></div> -->
              </div>
          </div><!--col m5 opciones derecha -->

      </div><!-- row -->

    </div><!-- nav-wrapper -->
</nav>
</div>
<!-- Menu Mobil -->
<ul class="side-nav" id="mobile-demo">
    <div class="centrar separador"><a href="#">Inicio</a></div>
    <div class="centrar separador"><a href="#anclaNosotros">Nosotros</a></div>
    <div class="centrar separador"><a href="#anclaServicios">Servicio</a></div>
    <div class="centrar separador"><a href="#anclaCalidad">Calidad</a></div>
    <div class="centrar separador"><a href="#anclaSocios">Socios</a></div>
    <div class="centrar separador"><a href="#anclaSistema">Sistema Laboratorio</a></div>
    <div class="centrar separador"><a href="#anclaContacto">Contacto</a></div>
  </ul>
  <!-- Menu Mobil FIN -->

<!-- Fixed Buttons -->
<div *ngIf="s>100 && !small">
<div>
    <a (mouseenter)="show('captura')" (mouseleave)="hide('captura')" href="#" id="captura" class="botones">
       <img src="../../assets/ic_captura_ordenes.svg" class="ic-svg">
    </a>
    <p class="tooltip">Captura de Órdenes</p>
    
</div>
<div >
    <a (mouseenter)="show('resultados')" (mouseleave)="hide('resultados')" href="#" id="resultados" class="botones">
       <img src="../../assets/ic_consulta_resultado.svg" class="ic-svg">
    </a>
    <p class="tooltip" >Consulta de Resultados</p>
</div>
</div>