.botones{
  -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-image: -webkit-gradient(linear, left top, right top, from(#00add8), color-stop(51%, #0075c9), to(#0075c9));
    background-image: linear-gradient(to right, #00add8 0%, #0075c9 51%, #0075c9 100%);
    padding: .9rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    word-wrap: break-word;
    font-size: 0.7rem !important;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;
    border-radius: 30px;
    line-height: inherit;
}

.botones:hover{
  background-image: linear-gradient(#0075c9, #0075c9);
  -webkit-box-shadow: 0.3rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  box-shadow: 0.3rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transition: all .3s ease;
}

.btnCont{
  padding-right: 0;
  padding-left:0;
}


.centrar{
  text-align: center;
  justify-content: center;
}

.der{
  padding-right:5vw;
}

.izq{
  padding-left: 5vw;
}

.ic-svg{
  width: 24px;
  vertical-align: middle;
}

.linea{
  padding-top: 25px;
  border-top: solid 1px blue;
}

.lupaMenu i{
  position: fixed;
  top:0;
  left: 0;
  color: white !important;
  font-size: 20px;
  transition: all .3s ease;
  margin-top: -15px;
}

.opcionesMenu{
  background-color: rgba(255,255,255,0); 
  min-height: 170px;
  transition: all .3s ease;
  box-shadow: none;
  line-height: inherit;
}

.opcionesMenu a{
  color: white;
  font-size: 15px;
  transition: all .3s ease;
}

.resize{
  max-height: 64px;
  transition: all .3s ease;
}

.lupaMenu2 i{
  padding-left:17px; 
  color: gray !important;
  font-size: 20px;
  transition: all .3s ease;
}

.opcionesMenu2{
  background-color: white; 
  transition: all .3s ease;
  line-height: inherit;
}

.opcionesMenu2 a{
  color: rgb(37, 103, 179);
  transition: all .3s ease;
}

.input-field{
  background-color: #0075c9 !important;
}


.menuOpcIzq{
  padding-top: 45px;
}

.menuOpcDer{
  padding-top: 10px;
  height: 45px;
}

.overlay{
  z-index: unset !important;
}

.separador{
  padding: 13px 0 13px;
}

.navsep{
  padding-top:20px; 
}

.navsep>a:hover{
  font-weight: 600;
  font-size: 1.05em;
  -webkit-text-shadow: 3px 3px 4px rgba(0,0,0,0.9);
  text-shadow: 3px 3px 4px rgba(0,0,0,0.9);
  transition: all .3s ease;
  
}

.miniNav>a:hover{
-webkit-text-shadow: 3px 2px 6px rgba(0,0,0,.3);
text-shadow: 3px 2px 6px rgba(0,0,0,.3);
}

#captura{
  position: fixed;
  right: 0;
  margin-right:7px; 
  top:15vh;
}

#resultados{
  position: fixed;
  right: 0;
  margin-right:7px;
  top:25vh;
}

#captura + p{
  display: none;
  position: fixed;
  right: 0;
  margin-right:65px; 
  top:14.5vh;
}

#resultados + p{
  display: none;
  position: fixed;
  right: 0;
  margin-right:65px; 
  top:24.5vh;
}

.tooltip{
  color:#00add8;
  font-weight: 300;
  padding: 5px;
  background-color: #00add810;
  border-radius: 35px;
}

@media only screen and (max-width:992px){
  #log{
    max-height: 64px !important;
    margin-left: -75px;
  }
} 

@media only screen and (max-width:600px){
  #log{
    max-height: 56px !important;
  
  }
} 