.botones{
  -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-image: -webkit-gradient(linear, left top, right top, from(#00add8), color-stop(51%, #0075c9), to(#0075c9));
    background-image: linear-gradient(to right, #00add8 0%, #0075c9 51%, #0075c9 100%);
    padding: .9rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    word-wrap: break-word;
    font-size: 0.7rem !important;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;
    border-radius: 30px;
    line-height: inherit;
}

.btnCont{
  padding-right: 0;
  padding-left:0;
}

.centrar{
  text-align: center;
  justify-content: center;
}

.der{
  padding-right:5vw;
}

.izq{
  padding-left: 5vw;
}
.ic-svg{
  width: 24px;
}

.linea{
  padding-top: 25px;
  border-top: solid 1px blue;
}

.lupaMenu i{
  width: 10px;
  color: white !important;
  font-size: 20px;
  transition: all .3s ease;
  margin-top: -15px;
}

.opcionesMenu{
  background-color: rgba(255,255,255,0); 
  min-height: 170px;
  transition: all .3s ease;
  box-shadow: none;
  line-height: inherit;
}

.opcionesMenu a{
  color: white;
  font-size: 15px;
  transition: all .3s ease;
}

.resize{
  max-height: 64px;
  transition: all .3s ease;
}

.lupaMenu2 i{
  width: 10px;
  color: gray !important;
  font-size: 20px;
  transition: all .3s ease;
}

.opcionesMenu2{
  background-color: white; 
  transition: all .3s ease;
}

.opcionesMenu2 a{
  color: gray;
  transition: all .3s ease;
}

.input-field{
  background-color: #0075c9 !important;
}


.menuOpcIzq{
  padding-top: 45px;
}

.menuOpcDer{
  padding-top: 10px;
  height: 45px;
}

.overlay{
  z-index: unset !important;
}

.separador{
  padding: 13px 0 13px;
}

@media only screen and (max-width:992px){
  #log{
    max-height: 64px !important;
    margin-left: -75px;
  }
} 