#logo{
  height: 7vh;
}

#lupaMenu i{
  color: gray !important;
}

#opcionesMenu{
  background-color: white;
}

#opcionesMenu a{
  color: gray;
}

.input-field{
  background-color: #0075c9 !important;
}

.logoMenu{
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../assets/logo_lans_fondoBlanco.jpg");
  background-size: contain;
  width: 100%;
  height: 60px;
}

.menuOpcIzq{
  padding-left: 1vw;
}

.menuOpcDer{
  padding-right: 1vw;
}

@media screen and (max-width: 601px) {
  #logo{
      float: none;
  }
  .logoMenu{
    height: 55px;
  }
}