<!-- Trancision -->
<div class="centrar" id="trans">
  <img src="../assets/atom.png" alt="">
</div>
<div class="bg">    <!-- Contenedor del BG -->
  <div class="container">
    <h1 class="titulo separador scrollspy" id="anclaSocios">SOCIOS LANS</h1>
    
    <!-- Row 1 -->
    <div class="row"> <!-- Texto -->
      <div class="col s12">
        <p class="texto centradoVertical">
         <span id="capitular">N</span>uestra cultura se encuentra 
         completamente orientada al servicio y la atención, es por 
         ello que hemos implementado el modelo <b>“Socio LANS”</b>, que tiene 
         como objetivo fortalecer el vínculo comercial con nuestros 
         Clientes (Socios) a través de un mejor entendimiento de sus 
         necesidades. Lo anterior, nos permite adaptarnos a la situación 
         específica de cada Socio y proponer alternativas que fomenten el 
         desarrollo de su negocio.
        </p>
      </div>
    </div><!-- row 1-->

    <!-- Row 2 -->
    <div class="row">  
      <div class="col s12">
        <h3 class="subtitulo separadorMedio">
            Decidimos llamarle Socios a nuestros clientes, principalmente por tres razones:
        </h3>
        <div class="listaTexto">
          <!-- 1 -->
          <div class="col s12 m4">
            <h3 class="listaNumeros">1</h3>
            <p>Trabajamos en equipo con nuestros socios para entregarle al paciente resultados
              confiables y un excelente servicio.
            </p>
          </div>
          <!-- 2 -->
          <div class="col s12 m4">
            <h3 class="listaNumeros">2</h3>
            <p>Entendemos que solo si nuestros socios crecen, nosotros crecemos.
            </p>  
          </div>
          <!-- 3 -->
          <div class="col s12 m4">
            <h3 class="listaNumeros">3</h3>
            <p>Creemos en las relaciones comerciales de largo plazo</p>  
          </div>     
        </div>
      </div>
    </div>  <!-- row 2-->

    <h1 class="titulo separador">Al convertirse en nuestro Socio, usted y su laboratorio tienen acceso a diferentes beneficios, entre ellos:</h1>
    <div class="row separador">  <!-- Imagenes -->
      <div class="col s12 m4 " *ngFor="let beneficio of beneficios" (mouseenter)="activo(beneficio,true)" (mouseleave)="activo(beneficio,false)">
        <div class="col s12 m12 centrar" id="imageCont"><img id="img" [class.arriba]="(beneficio === hoveredArea && isHover)" [src]="beneficio.imagen" alt=""></div>
        <div class="col s12 m12"><p class="textoImg" [class.hovered]="(beneficio === hoveredArea && isHover)"  >{{beneficio.texto}}</p></div>
      </div>
    </div>  <!-- fin imagenes -->
    <!-- Slider -->

  </div>
</div>
<!-- Trancision -->
<div class="centrar" id="transtop">
  <div class="col s12 portadaSistema"></div>
  <!-- <img class="img" src="../assets/portadaSistema.png" alt=""> -->
</div>
