<!-- Trancision -->
<div class="centrar" id="trans">
  <img src="../assets/atom.png" alt="">
</div>
<div class="bg">    <!-- Contenedor del BG -->
  <div class="container">
    <h1 class="titulo separador scrollspy" id="anclaSocios">SOCIOS LANS</h1>
    <div class="row separador"> <!-- Texto -->
      <div class="col s12 m6 ">
        <p class="texto centradoVertical">

         <span id="capitular">N</span>uestra cultura se encuentra 
         completamente orientada al servicio y la atención, es 
         por ello que hemos implementado el modelo <b>“Socio LANS”</b> 
         que tiene como objetivo fortalecer el vínculo comercial a 
         través de un mejor entendimiento de las necesidades de 
         nuestros Socios, lo anterior nos ha permitido adaptarnos a 
         la situación específica de cada uno y proponer alternativas 
         que fomenten el desarrollo de su negocio.

        </p>
      </div>
      <div class="col s12 m6">
        <p class="texto">
            Decidimos llamarle Socios a nuestros clientes, principalmente por dos razones:
        </p>
        <div class="listaTexto">
        <h3 class="listaNumeros">1</h3>
        <p>Nuestra razón de ser son los pacientes y es junto con nuestros Socios que logramos llegar a ellos.</p>
        <h3 class="listaNumeros">2</h3>
        <p>Nos interesan las relaciones personales y de largo plazo por lo que considerarnos Socios comerciales fomentará el crecimiento conjunto con un enfoque ganar-ganar.</p>
        </div>
      </div>
    </div>  <!-- fin texto -->
    <h1 class="titulo separador">Al convertirse en socio LANS, nosotros respondemos con los siguientes servicios:</h1>
    <div class="row separador">  <!-- Imagenes -->
      <div class="col s12 m4 " *ngFor="let beneficio of beneficios" (mouseenter)="activo(beneficio,true)" (mouseleave)="activo(beneficio,false)">
        <div class="col s12 m12 centrar" id="imageCont"><img id="img" [class.arriba]="(beneficio === hoveredArea && isHover)" [src]="beneficio.imagen" alt=""></div>
        <div class="col s12 m12"><p class="textoImg" [class.hovered]="(beneficio === hoveredArea && isHover)"  >{{beneficio.texto}}</p></div>
      </div>
    </div>  <!-- fin imagenes -->
    <!-- Slider -->

  </div>
</div>
<!-- Trancision -->
<div class="centrar" id="transtop">
  <img class="img" src="../assets/envase.png" alt="">
</div>
