<!-- Trancision -->
<div class="centrar" id="trans">
  <img src="../assets/atom.png" alt="">
</div>
<div class="bg">    <!-- Contenedor del BG -->
  <div class="container" id="anclaSocios">
    <h1 class="titulo separador">NUESTROS SOCIOS</h1>
    <div class="row separador"> <!-- Texto -->
      <div class="col s12 m6 ">
        <p class="texto">
         <span id="capitular">D</span>eseamos responder a la confianza que por 47 años nos han depositado, 
          y es por ello que hemos diseñado un programa denominado “De cliente a socio”, 
          en el que buscamos entender sus necesidades particulares y adaptarnos a ellas,
           siempre buscando nuestro fin común: la satisfacción de los pacientes.

        </p>
      </div>
      <div class="col s12 m6">
        <p class="texto">
            Entendemos la filosofía de equipo, en la que si uno prospera, todos los hacemos.
             Justo de ahí nace la idea de consolidarnos como un mismo equipo de trabajo,
              en el que sus problemas se vuelven nuestros, y en conjunto es más sencillo
               encontrar soluciones. De igual forma su prosperidad representará en nosotros 
               un beneficio.
        </p>
      </div>
    </div>  <!-- fin texto -->
    <h1 class="titulo separador">Al convencerse de ser parte de la #comunidadLans, nosotros respondemos con los siguientes beneficios:</h1>
    <div class="row separador">  <!-- Imagenes -->
      <div class="col s12 m4 " *ngFor="let beneficio of beneficios" (mouseenter)="activo(beneficio,true)" (mouseleave)="activo(beneficio,false)">
        <div class="col s12 m12 centrar" id="imageCont"><img id="img" [class.arriba]="(beneficio === hoveredArea && isHover)" [src]="beneficio.imagen" alt=""></div>
        <div class="col s12 m12"><p class="textoImg" [class.hovered]="(beneficio === hoveredArea && isHover)"  >{{beneficio.texto}}</p></div>
      </div>
    </div>  <!-- fin imagenes -->
    <h1 class="titulo separador">Estamos seguros que con este nuevo concepto de servicio, lograremos estrechar el vínculo que nos une y con ello, alcanzaremos la plena satisfacción de los pacientes.</h1>
    <!-- Slider -->
    
  </div>
</div>
<!-- Trancision -->
<div class="centrar" id="transtop">
  <img class="img" src="../assets/envase.png" alt="">
</div>