<!-- Contenedor Principal -->
<div class="container separador" >
  <div class="row" > <!-- Título y texto -->
    <div class="col s12" ><h1 class="titulo centrar separador" style="color:#0075c9">CALIDAD</h1></div>
    <div class="col s12 scrollspy" id="anclaCalidad" ></div>

    <!-- row 1  -->
    <div class="row">
      <!-- Imagenes -->
      <div class="col s12 m6 centrar">
        <img  src="../assets/calidad/logo-calidad-lans.png" alt="acreditación no. CL-037, ISO 15189 para LANS Laboratorios de Referencia">
      </div>
      <div class="col s12 m6">
        <p class="textoVertical">LANS se encuentra acreditado 
          ante la Entidad Mexicana de Acreditación, cumpliendo con esto los 
          requisitos internacionales 
          de la Norma ISO 15189:2012  <i> “Laboratorios Clínicos: 
          Requisitos de la Calidad y Competencia”</i> (Acreditación CL-037 Vigente a  partir de 2013-05-17). Consulte el <a href="../assets/Acreditacion/Alcance_Acreditado.pdf">detalle de nuestro alcance</a>
          y el <a href="http://lans.mx/assets/calidad/Metodos_LANS.pdf">Listado de Pruebas y metodologías vigentes.</a>
        </p>
      </div>
    </div><!-- row 1 -->

    <div class="row">
      <div class="col s12 m12">
          <p>Para asegurar la confiabilidad de nuestros resultados, hemos implementado un estricto programa de aseguramiento de la calidad participando en programas externos de calidad tanto nacionales como internacionales, así como en comparativos inter-laboratorios.</p>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <h3 class="subtitulo">Consulte algunos de los documentos que avalan nuestro Sistema de
            Gestión de la Calidad:
        </h3>
      </div>
      <div class="col s12 m6 listaCertificados">
        <ul>
          <li><a href="#modal1" class="modal-trigger">EMA</a></li>
          <li><a href="#modal2" class="modal-trigger">CENAM</a></li>
          <li><a href="#modal3" class="modal-trigger">EQAS</a></li>
          <li><a href="#modal4" class="modal-trigger">Qualitat</a></li>
          <li><a href="#modal5" class="modal-trigger">Excelencia LICON</a></li>
          <li><a href="#modal6" class="modal-trigger">Excelencia PACAL</a></li>
          <li><a href="#modal7" class="modal-trigger">Unity</a></li>
        </ul>
      </div>
    </div>


    <!-- ========== MODALES ============= -->
    

    <!-- Modal 1 -->
  <div id="modal1" class="modal">
      <div class="modal-top">
          <a href="#!" class="modal-action modal-close  btn-mod-close"><i class="material-icons ico-mod-close">&#xE14C;</i></a>
        </div>
    <div class="modal-content">
      <div id="ema"></div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div id="modal2" class="modal">
      <div class="modal-top">
          <a href="#!" class="modal-action modal-close  btn-mod-close"><i class="material-icons ico-mod-close">&#xE14C;</i></a>
        </div>
    <div class="modal-content">
      <div id="cenam"></div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div id="modal3" class="modal">
    <div class="modal-top">
        <a href="#!" class="modal-action modal-close  btn-mod-close"><i class="material-icons ico-mod-close">&#xE14C;</i></a>
      </div>
    <div class="modal-content">
      <div id="eqas"></div>
    </div>
  </div>

  <!-- Modal 1 -->
  <div id="modal4" class="modal">
    <div class="modal-top">
        <a href="#!" class="modal-action modal-close  btn-mod-close"><i class="material-icons ico-mod-close">&#xE14C;</i></a>
      </div>
    <div class="modal-content">
      <div id="qualitat"></div>
    </div>
  </div>

  <!-- Modal 1 -->
  <div id="modal5" class="modal">
    <div class="modal-top">
        <a href="#!" class="modal-action modal-close  btn-mod-close"><i class="material-icons ico-mod-close">&#xE14C;</i></a>
      </div>
    <div class="modal-content">
      <div id="licon"></div>
    </div>
  </div>

  <!-- Modal 1 -->
  <div id="modal6" class="modal">
    <div class="modal-top">
        <a href="#!" class="modal-action modal-close  btn-mod-close"><i class="material-icons ico-mod-close">&#xE14C;</i></a>
      </div>
    <div class="modal-content">
      <div id="pacal"></div>
    </div>
  </div>

  <!-- Modal 1 -->
  <div id="modal7" class="modal">
    <div class="modal-top">
        <a href="#!" class="modal-action modal-close  btn-mod-close"><i class="material-icons ico-mod-close">&#xE14C;</i></a>
      </div>
    <div class="modal-content">
      <div id="unity"></div>
    </div>
  </div>





  </div>
  <div class="separador"></div>
</div>




