#ema{
    background-image: url('../../assets/calidad/ema-mockup.jpg');
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
    height: 60vh;
}

#cenam{
    background-image: url('../../assets/calidad/cenam-mockup.jpg');
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
    height: 60vh;
}

#eqas{
    background-image: url('../../assets/calidad/eqas-mockup.jpg');
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
    height: 60vh;
}

#qualitat{
    background-image: url('../../assets/calidad/qualitat-mockup.jpg');
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
    height: 60vh;
}

#licon{
    background-image: url('../../assets/calidad/licon-mockup.jpg');
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
    height: 60vh;
}

#pacal{
    background-image: url('../../assets/calidad/pacal-mockup.jpg');
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
    height: 60vh;
}

#unity{
    background-image: url('../../assets/calidad/unity.jpg');
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
    height: 60vh;
}


.centrar{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.masCont {
	background: #fff;
	padding: 0;
	width: 30px;
	margin: auto;
	border-radius: 30px;
	height: 30px;
	font-size: 0.7rem;
	color: #002f87;
	-webkit-box-shadow: 3px 5px 13px rgba(0, 0, 0, 0.4);
	box-shadow: 3px 5px 13px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.masHover {
	background: #0075c9;
	color: #fff;
}


.textoVertical{
    padding-top: 5%;
}

.titulo{
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    color: #002f87;
    font-size: 2rem;
    line-height: 1.2;
    margin:0 0 .5rem;
    
}

.separador{
    padding: 20px 0 70px 0;
}

.subtitulo{
    font-size: 33px;
    font-weight: 100;
    color: #00BCD4; 
}

.listaCertificados {
    border-style: solid;
    border-radius: 22px;
    width: 300px !important;
    border-color: #2196F3;
    margin-left: 5vw !important;
}

.listaCertificados li{
    text-align: center;
}

.listaCertificados li a{
    font-size: 20px;
    color: #002f87;

}

.listaCertificados li a:hover{
    font-size: 20px;
    color: #00BCD4;
}