<!-- Contenedor Principal -->
<div class="container separador" id="anclaCalidad" >
  <div class="row" > <!-- Título y texto -->
    <div class="col s12" ><h1 class="titulo centrar">Calidad</h1></div>
    <div class="col s12" ><h2 class="titulo centrar" style="color:#0075c9">
        LANS Laboratorios de referencia participa en los siguientes programas de evaluación externa de calidad, con la finalidad de garantizar la confiabilidad de los resultados emitidos:
    </h2></div>
    <!-- Imagenes -->
    <div class="col s12 m12 separador centrar">
      <img  src="../assets/calidad/logo-calidad-lans.png" alt="">
    </div>
    <div class="col s12 m4 offset-m2  centrar">
      <img src="../assets/calidad/logo-ema-lans.png" alt="">
      <a class="masCont btn modal-trigger" href="#modal1"><i class="tiny material-icons ">add</i></a>
    </div>
    <div class="col s12 m4 centrar">
        <img src="../assets/calidad/logo-ema-lans.png" alt="">
        <a class="masCont  btn modal-trigger" href="#modal2"><i class="tiny material-icons " >add</i></a>
    </div>
    <!-- Modal 1 -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal 1</h4>
      <p>Este es el primer modal de calidad</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>
  <!-- Modal 2 -->
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Modal 2</h4>
      <p>Este es el segundo modal de calidad</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>
  </div>
</div>