<!-- Contenedor Principal -->
<div class="container separador"  >
  <div class="row"> <!-- Título y texto -->
    <div class="col s12" ><h1 class="titulo centrar">Calidad</h1></div>
    <div class="col s12" ><h2 class="titulo centrar" style="color:#0075c9">
        LANS Laboratorios de referencia participa en los siguientes programas de evaluación externa de calidad, con la finalidad de garantizar la confiabilidad de los resultados emitidos:
    </h2></div>
    <!-- Imagenes -->
    <div class="col s12 m12 separador centrar">
      <img  src="../assets/calidad/logo-calidad-lans.png" alt="">
    </div>
    <div class="col s12 m4 offset-m2  centrar">
      <img src="../assets/calidad/logo-ema-lans.png" alt="">
      <div class="masCont"><i class="tiny material-icons ">add</i></div>
    </div>
    <div class="col s12 m4 centrar">
        <img src="../assets/calidad/logo-ema-lans.png" alt="">
        <div class="masCont"><i class="tiny material-icons " >add</i></div>
    </div>
  </div>
</div>