<!--The content below is only a placeholder and can be replaced.-->

<!-- Menu de Navegacion -->

<app-menu-principal></app-menu-principal>

<!-- Slider Principal -->
<app-slider id="appSlider"></app-slider>

<!-- Sección Nosotros -->
<app-nosotros></app-nosotros>

<!-- Sección Razones -->
<app-razones></app-razones>

<!-- Seccción de Servicios -->
<app-servicios></app-servicios>

<!-- Sección Calidad -->
<app-calidad></app-calidad>


<!-- Socios -->
<app-socios></app-socios>



<!-- Sistema -->

<app-sistema></app-sistema>

<!-- Contacto -->
<app-contacto></app-contacto>
<!-- Footer LANS-->
<app-lans-footer></app-lans-footer>


<router-outlet></router-outlet>
