<!--The content below is only a placeholder and can be replaced.-->

<!-- Menu de Navegacion -->
<menu-navegacion></menu-navegacion>

<!-- Slider Principal -->
<slider></slider>

<!-- Sección Nosotros -->
<nosotros></nosotros>

<razones></razones>

<!-- Seccción de Servicios -->
<servicios></servicios>

<!-- Sección Calidad -->
<calidad></calidad>

<!-- Trancision -->
<div class="centrar" id="trans">
    <img src="../assets/atom.png" alt="">
</div>

<!-- Socios -->
<socios></socios>

<!-- Footer LANS-->
<lans-footer></lans-footer>


<router-outlet></router-outlet>
