<footer class="page-footer">
   <div class="container">
     <div class="row">
       <div class="col l6 s12">
         <h2 class="white-text">LANS</h2>
         <p class="grey-text text-lighten-4">Laboratorio de Referencia con 50 años de experiencia.</p>
       </div>
       <div class="col l4 offset-l2 s12">
         <h5 class="white-text">Links</h5>
         <ul>
           <li><a class="grey-text text-lighten-3" href="#!">Inicio</a></li>
           <li><a class="grey-text text-lighten-3" href="#!">Nosotros</a></li>
           <li><a class="grey-text text-lighten-3" href="#!">Servicio</a></li>
           <li><a class="grey-text text-lighten-3" href="#!">Calidad</a></li>
           <li><a class="grey-text text-lighten-3" href="#!">Socios</a></li>
           <li><a class="grey-text text-lighten-3" href="#!">Sistema Laboratorio</a></li>
           <li><a class="grey-text text-lighten-3" href="#!">Contacto</a></li>
         </ul>
       </div>
     </div>
   </div>
   <div class="footer-copyright">
     <div class="container">
     © 2014 Copyright Text
     <a class="grey-text text-lighten-4 right" href="#!">Aviso de Privacidad</a>
     </div>
   </div>
</footer>
