<footer class="page-footer">
   <div class="container">
     <div class="row">
       <div class="col l6 s12">
         <h2 class="white-text">LANS</h2>
         <p class="grey-text text-lighten-4">Laboratorio de Referencia con 50 años de experiencia.</p>
       </div>
       <div class="col l4 offset-l2 s12">
         <h5 class="white-text">Menú</h5>
         <ul>
           <li><a class="grey-text text-lighten-3" href="#anclaInicio">Inicio</a></li>
           <li><a class="grey-text text-lighten-3" href="#anclaNosotros">Nosotros</a></li>
           <li><a class="grey-text text-lighten-3" href="#anclaEspecialidades">Especialidades</a></li>
           <li><a class="grey-text text-lighten-3" href="#anclaCalidad">Calidad</a></li>
           <li><a class="grey-text text-lighten-3" href="#anclaSocios">Socios</a></li>
           <li><a class="grey-text text-lighten-3" href="#anclaSistema">Proceso</a></li>
           <li><a class="grey-text text-lighten-3" href="#anclaContacto">Contacto</a></li>
         </ul>


       </div>
     </div>
   </div>
   <div class="footer-copyright">
     <div class="container">
      2018 LANS Laboratorios de Referencia, S.A. de C.V. Todos los derechos reservados. 
     <br>  Permiso de publicidad COFEPRIS en trámite (No. 183300201A0623).
     <a class="grey-text text-lighten-4 right" href="http://lans.mx/assets/files/aviso.pdf">Aviso de Privacidad</a>
     </div>
   </div>
</footer>
