<div class="container"> <!--  MasterContainer -->
  <!-- Titulo y Texto -->
  <div class="row">
      
      <div class="col s2 offset-s2 titulo" style="width: auto !important;">SERVICIOS</div>
      <div class="col s6 titulo" style="color:#0075c9;">En LANS Laboratorios usted tiene a su alcance una 
        amplia gama de pruebas y perfiles, cubriendo las siguientes áreas de
         especialidad</div>

  </div>
  <!-- Seccion de botones -->
  <div class="row">
    <ul>
      <li *ngFor="let area of areas"
       class="btn_area"
       [class.hovered]="(area === hoveredArea && isHover)" (mouseenter)="activo(area,true)" (mouseleave)="activo(area,false)" 
       [class.selected]="area === selectedArea" (click)="selected(area)">{{area}}</li>
    </ul>
  </div>
  <!-- Seccion de contenido -->
  <div class="row">
    <!-- Div con el background dinámico por área -->
    <div class="area" [ngStyle]="{'background-image': 'url(' + Card.img + ')'}">
      <div class="col s6 offset-s6">
        <h1  class="cardTitle">{{Card.area}}</h1>
        <p>{{Card.contenido}}</p>
        <button  class="verMas" [class.hoVerMas]="(area === hoveredArea && isHover)" (mouseenter)="activo(area,true)" (mouseleave)="activo(area,false)">VER MAS</button>
      </div>   
    </div>
  </div>
</div>