<div class="carousel carousel-slider center sliderContenedor" data-indicators="true">

  <!-- Slide 1 -->
  <div class="carousel-item blue white-text" href="#one!">
    <div class="parallax-container">
      <div class="parallax"><img src="../../assets/sliderAssets/fondoFrame2.jpg"></div>
      <div class="parallax">
        <div class="container">
          <div class="row separadorInterno">
            <div class="col m6">
              <h2 class="textoSlider">
                SABEMOS QUE DETRÁS DE CADA MUESTRA,
                EXISTE UN PACIENTE PREOCUPADO POR SU SALUD
              </h2><!-- textoSlider -->
            </div><!-- col m6 Texto-->
            <div class="col m6">
              <div class="contenedorCirculo">
                <div id="circuloPaciente1"></div>
              </div>
            </div><!--col m6 Imagen -->
          </div><!--row -->
        </div><!-- container -->
      </div>
    </div>
  </div>

  <!-- Slide 2 -->
  <!-- Parallax -->
  <div class="carousel-item blue white-text" href="#two!">
    <div class="parallax-container">
      <div class="parallax">
        <img src="../../assets/sliderAssets/fondoFrame2.png">
      </div>
    </div>
  </div><!-- Parallax FIN -->

  <!-- Slide 3 -->
  <div class="carousel-item blue white-text" href="#three!">
    <h2>Third Panel</h2>
    <p class="white-text">This is your third panel</p>
  </div>

  <!-- Slide 4 -->
  <div class="carousel-item blue white-text" href="#four!">
    <h2>Fourth Panel</h2>
    <p class="white-text">This is your fourth panel</p>
  </div>
</div>
