<div class="carousel carousel-slider center sliderContenedor scrollspy" data-indicators="true" id="anclaInicio">
  <div class="carousel-fixed-item flechaDer" (click)="next()"> <!-- flecha der -->
    <i class="material-icons icon">chevron_right</i>
    </div>
<div class="carousel-fixed-item flechaIzq" (click)="prev()"> <!-- Flecha izq -->
  <i class="material-icons icon">chevron_left</i>
</div>
  <!-- Slide 1 -->
  <div class="carousel-item blue white-text" href="#one!">
    <div class="parallax-container">
      <div class="parallax"><img src="../../assets/sliderAssets/fondoSlide1.jpg"></div>
      <div class="parallax">
        <div class="container">
          <div class="row separadorInterno">
            <div class="col m6">
              <h2 class="textoSlider">
                NUESTRO PROPÓSITO ES Y
                SEGUIRÁ SIENDO MEJORAR
                LA SALUD Y CALIDAD DE VIDA
                DE LAS PERSONAS
              </h2><!-- textoSlider -->
            </div><!-- col m6 Texto-->
            <div class="col m6">
              <div class="contenedorCirculo">
                <div id="motivoSlider1"></div>
              </div>
            </div><!--col m6 Imagen -->
          </div><!--row -->
        </div><!-- container -->
      </div>
    </div>
  </div>

  <!-- Slide 2 -->
  <!-- Parallax -->
  <div class="carousel-item blue white-text" href="#one!">
      <div class="parallax-container">
        <div class="parallax"><img src="../../assets/sliderAssets/fondoSlide2.jpg"></div>
        <div class="parallax">
          <div class="container">
            <div class="row separadorInterno">
              <div class="col m6">
                <h2 class="textoSlider">
                 NUESTRA IDENTIDAD EVOLUCIONA,
                 REFLEJAMOS LO QUE SOMOS
                 Y LO QUE QUEREMOS SER
                </h2><!-- textoSlider -->
              </div><!-- col m6 Texto-->
              <div class="col m6">
                <div class="contenedorCirculo">
                  <div id="motivoSlide2"></div>
                </div>
              </div><!--col m6 Imagen -->
            </div><!--row -->
          </div><!-- container -->
        </div>
      </div>
    </div>

  <!-- Slide 3 -->
    <!-- Parallax -->
    <div class="carousel-item blue white-text" href="#one!">
        <div class="parallax-container">
          <div class="parallax"><img src="../../assets/sliderAssets/fondoSlide3.jpg"></div>
          <div class="parallax">
            <div class="container">
              <div class="row separadorInterno">
                <div class="col m6">
                  <h2 class="textoSlider">
                    SABEMOS QUE DETRÁS
                    <br>DE CADA MUESTRA,
                    <br>EXISTE UN PACIENTE 
                    <br>PREOCUPADO POR SU SALUD
                  </h2><!-- textoSlider -->
                </div><!-- col m6 Texto-->
                <div class="col m6">
                  <div class="contenedorCirculo">
                    <div id="motivoSlider3"></div>
                  </div>
                </div><!--col m6 Imagen -->
              </div><!--row -->
            </div><!-- container -->
          </div>
        </div>
      </div>
