<div class="carousel carousel-slider center sliderContenedor scrollspy" data-indicators="true" id="anclaInicio">
  <div class="carousel-fixed-item flechaDer" (click)="next()"> <!-- flecha der -->
    <i class="material-icons icon">chevron_right</i>
    </div>
<div class="carousel-fixed-item flechaIzq" (click)="prev()"> <!-- Flecha izq -->
  <i class="material-icons icon">chevron_left</i>
</div>
  <!-- Slide 1 -->
  <a href="https://www.ema.org.mx/sectorsalud/"target="_blank">
  <div class="carousel-item blue white-text" href="#one!">
    <div class="parallax-container">
      <div class="parallax"><img src="../../assets/sliderAssets/3er-Congreso-EMA_03.png"></div>
      <div class="parallax">
        <div class="container">
          <div class="row">
            <div class="col m6">
            </div>
          </div>
          <div class="row">
            <div class="col m2">
            </div>
          </div><!-- row logo -->
        </div>
      </div>
    </div>
  </div>
  </a>
<!-- Slide 2 -->
<div class="carousel-item blue white-text" href="#one!">
  <div class="parallax-container">
    <div class="parallax"><img src="../../assets/sliderAssets/slideGrande1.jpg"></div>
    <div class="parallax">
      <div class="container">
        <div class="row">
          <div class="col m6">
              <div class="colorFondo">
                <h2 class="colorFondo_texto">
                <span class="tituloLight">CELEBRAMOS</span>
            <br><span class="tituloLight">NUESTROS</span>
            <br>PRIMEROS
            <br>50 AÑOS
                </h2>
              </div><!-- Color con Degradado y título -->
          </div>
        </div>
        <div class="row">
          <div class="col m2">
            <div class="logoCincuenta">
            </div><!-- Logo de 50 años fondo azul -->
          </div>
        </div><!-- row logo -->
      </div>
    </div>
  </div>
</div>

  <!-- Slide 3 -->
  <div class="carousel-item blue white-text" href="#one!">
    <div class="parallax-container">
      <div class="parallax"><img src="../../assets/sliderAssets/slideGrande2.jpg"></div>
      <div class="parallax">
        <div class="container">
          <div class="row">
            <div class="col m6">
                <div class="colorFondo">
                  <h2 class="tituloSlideB">
                    <span class="tituloLight">SABEMOS QUE</span>
                    <br><span class="tituloLight">DETRÁS DE</span>
                    <br><span class="tituloLight">CADA MUESTRA,</span>
                    <br>EXISTE UN
                    <br>PACIENTE
                    <br>PREOCUPADO
                    <br>POR SU SALUD
                  </h2>
                </div><!-- color Fondo -->
            </div>
          </div><!-- row -->
          <div class="row">
            <div class="col m2">
              <div class="logoCincuenta">
              </div><!-- Logo de 50 años fondo azul -->
            </div>
          </div><!-- row logo -->
        </div>
      </div>
    </div>
  </div>

  
