#circuloPaciente1{
  background-image: url("../../assets/sliderAssets/pacienteFrame1.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 80vh;
  position: relative;
}

.contenedorCirculo{
   padding-top: 10%;
}

.parallax-container {
  height: 100vh;
}

.separadorInterno{
  padding-top: 130px;
}

.sliderContenedor{
  height:100vh !important;
}

.textoSlider{
  padding: 180px 0px;
  -webkit-text-shadow: 3px 3px 4px rgba(0,0,0,0.9);
  text-shadow: 3px 3px 4px rgba(0,0,0,0.9);
  font-size: 32px;
  border-radius: 35px;
}
