<!-- contenedor -->
<div class="container" *ngIf="!small">

<div class="centrar separador scrollspy" id="anclaSistema" >   <!-- Titulo  -->
<h1 class="titulo azul">NUESTRO PROCESO: DE PUNTA A PUNTA</h1>
</div>

    <div class="row separador">  <!-- Paso 1 -->
      <div class="col m6  centro">
        <img class="sistema" src="../assets/sistema/svg_recoleccion_muestra.svg" alt="">
      </div>
      <div class="col m6  centro">
        <h2 class="titulo">Servicio de recolección de muestras</h2>
        <p class="centro texto">Ya sea visitando nuestro <b><a href="http://acceso.lans.mx:2024/">Portal Web de Captura de Órdenes</a></b> o contactando vía telefónica a nuestra
          Mesa de Atención a Socios, usted puede solicitar la recolección de muestras a domicilio
          en más de 30 ciudades de la República Mexicana.
        </p>
      </div>
    </div>


    <div class="row separador">  <!-- Paso 2 -->
      <div class="col m6 s6 centro">
        <h2 class="titulo">Transporte y recepción de muestras</h2>
        <p class="centro texto">Sabemos que detrás de cada muestra que nos confía, existe una persona preocupada por su salud.
          Es por ello, que <b>vigilamos las condiciones de sus muestras</b> desde la recolección y hasta su llegada
          a nuestro Centro de Proceso, en donde validamos que cumplan con los requisitos de calidad
          necesarios para asegurar un resultado confiable y clínicamente útil.
        </p>
      </div>
      <div class="col m6 s6 centro">
        <img class="sistema" src="../assets/sistema/svg_recepccion_muestra.svg" alt="">
      </div>
    </div>


    <div class="row separador">  <!-- Paso 3 -->
      <div class="col m6 s6 centro">
        <img class="sistema" src="../assets/sistema/svg_procesamiento.svg" alt="">
      </div>
      <div class="col m6 s6 centro">
        <h2 class="titulo">Control de calidad estricto</h2>
        <p class="centro texto">Contamos con un área de <b>Aseguramiento de la Calidad</b>, independiente a la Gerencia de Laboratorio,
          encargada de revisar y analizar los resultados del Control de Calidad Interno
          para <b>asegurar el correcto desempeño</b> de las plataformas analíticas
          antes de iniciar el proceso de muestras de pacientes y a lo largo de este.
        </p>
      </div>
    </div>


    <div class="row separador">  <!-- Paso 4 -->
      <div class="col m6 s6 centro">
        <h2 class="titulo">Procesamiento Automatizado</h2>
        <p class="centro texto">Con la finalidad de poner a su disposición la <b>mejor calidad analítica de proceso</b>,
          evaluamos continuamente la oferta de nuevas tecnologías y seleccionamos
          aquellas plataformas automatizadas que ofrecen el mejor desempeño
          en aspectos como: linealidad, precisión, veracidad, límite de detección,
          sensibilidad, especificidad analítica, entre otros factores técnicos.
        </p>
      </div>
      <div class="col m6 s6 centro">
        <img class="sistema" src="../assets/sistema/svg_validacion.svg" alt="">
      </div>
    </div>


    <div class="row separador">  <!-- Paso 5 -->
      <div class="col m6  s6  centro">
        <img class="sistema" src="../assets/sistema/svg_resultados.svg" alt="">
      </div>
      <div class="col m6 s6 centro">
        <h2 class="titulo">Validación de Resultados</h2>
        <p class="centro texto">Una vez que el resultado es emitido y enviado automáticamente al
          Sistema de Información de Laboratorio, y previo a la liberación de este,
          nuestro <b>equipo especializado en validación</b> verifica la correlación clínica de los resultados
          con el apoyo de algoritmos apegados a las guías del
          Instituto de Normas Clínicas y de Laboratorio (CLSI por sus siglas en inglés),
          y, cuando es apropiado, coloca notas de apoyo al proceso diagnóstico.
        </p>
      </div>
    </div>


    <div class="row separador">  <!-- Paso 6 -->
      <div class="col m6 centro">
        <h2 class="titulo">Publicación de Resultados</h2>
        <p class="centro texto">Una vez que los resultados de su paciente son liberados, usted puede acceder a ellos
          a través de nuestro <a href="http://acceso.lans.mx:2026/">Portal Web de Consulta de Resultados</a>. Así mismo, le serán
          enviados de forma automática por correo electrónico a las direcciones
          que nos haya proporcionado.
        </p>
      </div>
      <div class="col m6  centro">
        <img class="sistema" src="../assets/sistema/svg_resultados.svg" alt="">
      </div>
    </div>

</div>
<!-- contenedor Small-->
<div class="container" *ngIf="small">
  <div class="row separador">  <!-- Paso 1 -->
    <div class="col s12 centro">
      <img class="sistema" src="../assets/sistema/svg_recoleccion_muestra.svg" alt="">
    </div>
    <div class="col s12 centro">
      <h2 class="titulo">Solicitud de recolección de muestras</h2>
      <p class="centro texto">Ya sea por el portal de captura de resultados o a través
        de nuestra Mesa de Atención a Socios, usted puede solicitar la recolección de sus
        muestras a domicilio en más de 30 ciudades a lo largo de la República Mexicana.
        </p>
    </div>
  </div>
  <div class="row separador">  <!-- Paso 2 -->
    <div class="col s12 centro">
      <img class="sistema" src="../assets/sistema/svg_recepccion_muestra.svg" alt="">
    </div>
    <div class="col s12 centro">
      <h2 class="titulo">Recepción de muestras</h2>
      <p class="centro texto">En LANS estamos comprometidos con la confiabilidad de
          los resultados que emitimos, es por ello que contamos con
          un procedimiento para la revisión de las muestras recibidas,
          asegurando que cumplan los requisitos de calidad establecidos.
      </p>
    </div>
  </div>
  <div class="row separador">  <!-- Paso 3 -->
    <div class="col s12 centro">
      <img class="sistema" src="../assets/sistema/svg_procesamiento.svg" alt="">
    </div>
    <div class="col s12 centro">
      <h2 class="titulo">Procesamiento automatizado</h2>
      <p class="centro texto">Investigamos continuamente la oferta mundial de nuevas
          tecnologías para ofrecerle a usted la mejor calidad analítica. <br>
            Seleccionamos las plataformas que ofrecen el mejor desempeño en aspectos
            como: linealidad, precisión, exactitud expresada como incertidumbre de la medición,
            límite de detección, intervalo de medición, veracidad de medición, sensibilidad y especificidad analítica.</p>
    </div>
  </div>
  <div class="row separador">  <!-- Paso 4 -->
    <div class="col s12 centro">
      <img class="sistema" src="../assets/sistema/svg_validacion.svg" alt="">
    </div>
    <div class="col s12 centro">
      <h2 class="titulo">Validación de resultados</h2>
      <p class="centro texto">En LANS sabemos que detrás de cada muestra existe un
          paciente preocupado por su salud, es por ello que previo a la liberación de los
          resultados de su paciente, nuestro equipo especializado en validación se asegura
          que los resultados emitidos tengan correlación clínica.
      </p>
    </div>
  </div>
  <div class="row separador">  <!-- Paso 5 -->
    <div class="col s12  centro">
      <img class="sistema" src="../assets/sistema/svg_resultados.svg" alt="">
    </div>
    <div class="col s12 centro">
      <h2 class="titulo">Reporte de resultados</h2>
      <p class="centro texto">Una vez que los resultados de los análisis están listos se
          le harán llegar en formato PDF a las direcciones de correo
          electrónico que nos haya proporcionado al momento de su alta
          como Socio. Además podrá acceder a sus resultados hasta por
          un año en el módulo para consulta de resultados de nuestro
          portal web.
          </p>
    </div>
  </div>
</div>
