#control{
    background-image: url('../../assets/sistema/svg_control.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 240px;
}

#recoleccion{
    background-image: url('../../assets/sistema/svg_recoleccion_muestra.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
}

#transporte{
    background-image: url('../../assets/sistema/svg_recepccion_muestra.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 220px;  
}

#procesamiento{
    background-image: url('../../assets/sistema/svg_procesamiento.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 220px;  
}

#validacion{
    background-image: url('../../assets/sistema/svg_validacion.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 220px;  
}


.azul{
    color:#00add8 !important;
}

a{
    font-weight: bolder;
}

.centrar{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.centro{
    text-align: center;
}

.izquierda{
    text-align: left;
}

.separador{
    padding-top: 10vh;
}

.sistema{
    width: 50%;
}

.texto{
    font-family: "Ubuntu", sans-serif;
    color: #4d4d4d;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.titulo{
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    color: #002f87;
    font-size: 2rem;
    line-height: 1.2;
    margin:0 0 .5rem;
    
}