#sis{
    color:#00add8;
}

.centrar{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.centro{
    text-align: center;
}

.izquierda{
    text-align: left;
}

.separador{
    padding-top: 10vh;
}

.sistema{
    width: 50%;
}

.texto{
    font-family: "Roboto Condensed", sans-serif;
    color: #4d4d4d;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.titulo{
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    color: #002f87;
    font-size: 2rem;
    line-height: 1.2;
    margin:0 0 .5rem;
    
}