<div class="centrar" id="anclaSistema">   <!-- Titulo  -->
<h1 class="titulo" id="sis">NUESTRO SISTEMA DE LABORATORIO</h1>
</div>
<!-- contenedor -->
<div class="container">
    <div class="row separador">  <!-- Paso 1 -->
      <div class="col m6 s6 centro">
        <img class="sistema" src="../assets/sistema/svg_recoleccion_muestra.svg" alt="">
      </div>
      <div class="col m6 s6 centro">
        <h2 class="titulo">Solicitud de recolección de muestra</h2>
        <p class="izquierda texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nulla et tristique dolor, eget commodo velit. Donec eget aliquet nisi.
          Proin eu metus et enim semper elementum auctor at augue. Curabitur id egestas mi.</p>
      </div>
    </div>
    <div class="row separador">  <!-- Paso 2 -->
      <div class="col m6 s6 centro">
        <h2 class="titulo">Recepción de muestra</h2>
        <p class="izquierda texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nulla et tristique dolor, eget commodo velit. Donec eget aliquet nisi.
          Proin eu metus et enim semper elementum auctor at augue. Curabitur id egestas mi.
        </p>
      </div>
      <div class="col m6 s6 centro">
        <img class="sistema" src="../assets/sistema/svg_recepccion_muestra.svg" alt="">
      </div>
    </div>
    <div class="row separador">  <!-- Paso 3 -->
      <div class="col m6 s6 centro">
        <img class="sistema" src="../assets/sistema/svg_procesamiento.svg" alt="">
      </div>
      <div class="col m6 s6 centro">
        <h2 class="titulo">Procesamiento automatizado</h2>
        <p class="izquierda texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nulla et tristique dolor, eget commodo velit. Donec eget aliquet nisi.
          Proin eu metus et enim semper elementum auctor at augue. Curabitur id egestas mi.</p>
      </div>
    </div>
    <div class="row separador">  <!-- Paso 4 -->
      <div class="col m6 s6 centro">
        <h2 class="titulo">Validación con supervisor</h2>
        <p class="izquierda texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nulla et tristique dolor, eget commodo velit. Donec eget aliquet nisi.
          Proin eu metus et enim semper elementum auctor at augue. Curabitur id egestas mi.
        </p>
      </div>
      <div class="col m6 s6 centro">
        <img class="sistema" src="../assets/sistema/svg_validacion.svg" alt="">
      </div>
    </div>
    <div class="row separador">  <!-- Paso 5 -->
      <div class="col m6  s6  centro">
        <img class="sistema" src="../assets/sistema/svg_resultados.svg" alt="">
      </div>
      <div class="col m6 s6 centro">
        <h2 class="titulo">Reporte de resultados en portal</h2>
        <p class="izquierda texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nulla et tristique dolor, eget commodo velit. Donec eget aliquet nisi.
          Proin eu metus et enim semper elementum auctor at augue. Curabitur id egestas mi.</p>
      </div>
    </div>
</div>
