<div class="centrar separador" id="anclaSistema">   <!-- Titulo  -->
<h1 class="titulo azul" >NUESTRO SISTEMA DE LABORATORIO</h1>
</div>
<!-- contenedor -->
<div class="container">
    <div class="row separador">  <!-- Paso 1 -->
      <div class="col m6 s6 centro">
        <img class="sistema" src="../assets/sistema/svg_recoleccion_muestra.svg" alt="">
      </div>
      <div class="col m6 s6 centro">
        <h2 class="titulo">Solicitud de recolección de muestras</h2>
        <p class="centro texto">Ya sea por el portal de captura de resultados o a través de 
          nuestra Mesa de Atención a Socios, usted puede solicitar la recolección de sus muestras 
          a domicilio en más de 30 ciudades a lo largo de la República Mexicana.
          </p>
      </div>
    </div>
    <div class="row separador">  <!-- Paso 2 -->
      <div class="col m6 s6 centro">
        <h2 class="titulo">Recepción de muestras</h2>
        <p class="centro texto">En LANS estamos comprometidos con la confiabilidad de
            los resultados que emitimos, es por ello que contamos con
            un procedimiento para la revisión de las muestras recibidas,
            asegurando que cumplan los requisitos de calidad establecidos.            
        </p>
      </div>
      <div class="col m6 s6 centro">
        <img class="sistema" src="../assets/sistema/svg_recepccion_muestra.svg" alt="">
      </div>
    </div>
    <div class="row separador">  <!-- Paso 3 -->
      <div class="col m6 s6 centro">
        <img class="sistema" src="../assets/sistema/svg_procesamiento.svg" alt="">
      </div>
      <div class="col m6 s6 centro">
        <h2 class="titulo">Procesamiento automatizado</h2>
        <p class="centro texto">Investigamos continuamente la oferta mundial de nuevas 
          tecnologías para ofrecerle a usted la mejor calidad analítica. <br>
            Seleccionamos las plataformas que ofrecen el mejor desempeño en aspectos como: linealidad, 
            precisión, exactitud expresada como incertidumbre de la medición, límite de detección, 
            intervalo de medición, veracidad de medición, sensibilidad y especificidad analítica.
            </p>
      </div>
    </div>
    <div class="row separador">  <!-- Paso 4 -->
      <div class="col m6 s6 centro">
        <h2 class="titulo">Validación de resultados</h2>
        <p class="centro texto">En LANS sabemos que detrás de cada muestra existe un 
          paciente preocupado por su salud, es por ello que previo a la liberación de los 
          resultados de su paciente, nuestro equipo especializado en validación se asegura 
          que los resultados emitidos tengan correlación clínica.
        </p>
      </div>
      <div class="col m6 s6 centro">
        <img class="sistema" src="../assets/sistema/svg_validacion.svg" alt="">
      </div>
    </div>
    <div class="row separador">  <!-- Paso 5 -->
      <div class="col m6  s6  centro">
        <img class="sistema" src="../assets/sistema/svg_resultados.svg" alt="">
      </div>
      <div class="col m6 s6 centro">
        <h2 class="titulo">Reporte de resultados</h2>
        <p class="centro texto">Una vez que los resultados de los análisis están listos se
            le harán llegar en formato PDF a las direcciones de correo
            electrónico que nos haya proporcionado al momento de su alta
            como Socio. Además podrá acceder a sus resultados hasta por
            un año en el módulo para consulta de resultados de nuestro
            portal web.
            </p>
      </div>
    </div>
</div>
